# 판다스와 유럽 역사 알기1-2
- 02_df_표_자르고_합치고_나누고
- https://www.dacon.io/edu/131

## pd.melt

In [20]:
import pandas as pd

# 로마 제국의 주요 도시별 인구 데이터
data = {
    'City': ['Rome', 'Constantinople', 'Alexandria', 'Antioch'],
    '100 AD': [1000000, 300000, 500000, 150000],
    '200 AD': [1200000, 400000, 600000, 200000],
    '300 AD': [800000, 500000, 750000, 250000]
}
df = pd.DataFrame(data)
print(df)
print(df.info())
print('-----------------------------------------------')

# melt를 사용하여 데이터를 길게 변환(기존 4줄 -> 12줄)
melted_df = pd.melt(df, id_vars=['City'], var_name='Year', value_name='Population')
print(melted_df.head())
print(melted_df.info())

             City   100 AD   200 AD  300 AD
0            Rome  1000000  1200000  800000
1  Constantinople   300000   400000  500000
2      Alexandria   500000   600000  750000
3         Antioch   150000   200000  250000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    4 non-null      object
 1   100 AD  4 non-null      int64
 2   200 AD  4 non-null      int64
 3   300 AD  4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 256.0+ bytes
None
-----------------------------------------------
             City    Year  Population
0            Rome  100 AD     1000000
1  Constantinople  100 AD      300000
2      Alexandria  100 AD      500000
3         Antioch  100 AD      150000
4            Rome  200 AD     1200000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        12 non-null     object
 1   Year        12 non-null     object
 2   Population  12 non-null     int64
dtypes: int64(1), object(2)
memory usage: 416.0+ bytes
None

## 2. pivot_table

In [9]:
# 로마 제국의 전투 데이터
battles = {
    'Battle': ['Battle of Actium', 'Battle of Actium', 'Teutoburg Forest', 'Teutoburg Forest'],
    'Year': [-31, -31, 9, 9],
    'Result': ['Victory', 'Defeat', 'Victory', 'Defeat'],
    'Legions Involved': [60, 30, 3, 8]
}
df_battles = pd.DataFrame(battles)
print(df_battles)
print('-----------------------------------------------')

# pivot_table을 사용하여 데이터 집계
pivot_battles = df_battles.pivot_table(values='Legions Involved', index='Battle', columns='Result', aggfunc='sum')
print(pivot_battles)

             Battle  Year   Result  Legions Involved
0  Battle of Actium   -31  Victory                60
1  Battle of Actium   -31   Defeat                30
2  Teutoburg Forest     9  Victory                 3
3  Teutoburg Forest     9   Defeat                 8
-----------------------------------------------
Result            Defeat  Victory
Battle
Battle of Actium      30       60
Teutoburg Forest       8        3

In [10]:
# 로마 제국의 경제 지표별 연도 데이터
economy = {
    'Indicator': ['GDP', 'GDP', 'Trade Balance', 'Trade Balance'],
    'Year': ['100 AD', '200 AD', '100 AD', '200 AD'],
    'Value': [50, 70, 10, 15]
}
df_economy = pd.DataFrame(economy)
print(df_economy)
print('-----------------------------------------------')

# pivot_table을 사용하여 데이터 집계
pivot_economy = df_economy.pivot_table(values='Value', index='Indicator', columns='Year', aggfunc='sum')
print(pivot_economy)

       Indicator    Year  Value
0            GDP  100 AD     50
1            GDP  200 AD     70
2  Trade Balance  100 AD     10
3  Trade Balance  200 AD     15
-----------------------------------------------
Year           100 AD  200 AD
Indicator
GDP                50      70
Trade Balance      10      15

## 3. Crosstab 사용
- crosstab 함수는 두 개 이상의 열을 기준으로 교차 테이블(빈도 테이블)을 생성합니다. 
- 로마 제국의 다양한 지역에서의 군대 규모와 지역별 충성도를 가상의 데이터로 사용해 보겠습니다.

In [11]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '황제': ['율리우스 시저', '아우구스투스', '네로', '호라티우스', '클라우디우스'],
    '군대': ['제1군단', '제2군단', '제3군단', '제4군단', '제5군단'],
    '전투 결과': ['승리', '패배', '승리', '승리', '패배']
}

df = pd.DataFrame(data)

# crosstab 생성
cross_tab = pd.crosstab(df['황제'], df['전투 결과'])

print(cross_tab)

전투 결과    승리  패배
황제
네로        1   0
아우구스투스    0   1
율리우스 시저   1   0
클라우디우스    0   1
호라티우스     1   0

In [12]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '신': ['유피테르', '제노비아', '마르스', '베누스', '유피테르'],
    '종교적 활동': ['참여', '비참여', '참여', '비참여', '참여']
}

df = pd.DataFrame(data)

# crosstab 생성
cross_tab = pd.crosstab(df['신'], df['종교적 활동'])

print(cross_tab)

종교적 활동  비참여  참여
신
마르스       0   1
베누스       1   0
유피테르      0   2
제노비아      1   0

In [13]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '시민권': ['로마 시민권', '비시민권', '로마 시민권', '로마 시민권', '비시민권'],
    '계급': ['귀족', '노예', '귀족', '귀족', '자유인']
}

df = pd.DataFrame(data)

# crosstab 생성
cross_tab = pd.crosstab(df['시민권'], df['계급'])

print(cross_tab)

계급      귀족  노예  자유인
시민권
로마 시민권   3   0    0
비시민권     0   1    1

In [14]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '건축가': ['마르쿠스 비트루비우스', '세르비우스 툴리우스', '윌리우스 노마니우스', '퀸투스 마르투스', '세르비우스 툴리우스'],
    '도시': ['로마', '팔라티노', '에스퀴일리노', '카피톨리노', '에스퀴일리노']
}

df = pd.DataFrame(data)

# crosstab 생성
cross_tab = pd.crosstab(df['건축가'], df['도시'])

print(cross_tab)

도시           로마  에스퀴일리노  카피톨리노  팔라티노
건축가
마르쿠스 비트루비우스   1       0      0     0
세르비우스 툴리우스    0       1      0     1
윌리우스 노마니우스    0       1      0     0
퀸투스 마르투스      0       0      1     0

## 4. cut 함수
- 판다스의 cut 함수는 연속형 데이터를 구간별로 나누는 데 사용됩니다. 
- 이 함수를 사용하면 데이터를 원하는 구간으로 나누어 범주형 데이터로 변환할 수 있습니다. 
- 이를 통해 데이터를 더 쉽게 이해하고 분석할 수 있습니다.

In [15]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '황제': ['율리우스 시저', '아우구스투스', '네로', '호라티우스', '클라우디우스'],
    '통치 기간(년)': [4, 45, 13, 9, 14]
}

df = pd.DataFrame(data)

# 통치 기간을 구간별로 나누기
bins = [0, 10, 20, 30, 50]
labels = ['0-10년', '10-20년', '20-30년', '30-50년']
df['통치 기간 구간'] = pd.cut(df['통치 기간(년)'], bins=bins, labels=labels)

print(df)

        황제  통치 기간(년) 통치 기간 구간
0  율리우스 시저         4    0-10년
1   아우구스투스        45   30-50년
2       네로        13   10-20년
3    호라티우스         9    0-10년
4   클라우디우스        14   10-20년

In [16]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '신': ['유피테르', '제노비아', '마르스', '베누스', '유피테르'],
    '숭배 강도': [7, 2, 9, 5, 8]
}

df = pd.DataFrame(data)

# 숭배 강도를 구간별로 나누기
bins = [0, 5, 7, 10]
labels = ['약함', '보통', '강함']
df['숭배 강도 구간'] = pd.cut(df['숭배 강도'], bins=bins, labels=labels)

print(df)
# write python code here

      신  숭배 강도 숭배 강도 구간
0  유피테르      7       보통
1  제노비아      2       약함
2   마르스      9       강함
3   베누스      5       약함
4  유피테르      8       강함

In [17]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '계급': ['귀족', '노예', '귀족', '귀족', '자유인'],
    '부를 정도': [1000, 10, 500, 800, 300]
}

df = pd.DataFrame(data)

# 부를 정도를 구간별로 나누기
bins = [0, 100, 500, 1000]
labels = ['낮음', '보통', '높음']
df['부를 정도 구간'] = pd.cut(df['부를 정도'], bins=bins, labels=labels)

print(df)

    계급  부를 정도 부를 정도 구간
0   귀족   1000       높음
1   노예     10       낮음
2   귀족    500       보통
3   귀족    800       높음
4  자유인    300       보통

## 5. qcut 함수
- 판다스의 qcut 함수는 연속형 데이터를 분위수를 기준으로 구간별로 나누는 데 사용됩니다. 
- 이 함수를 사용하면 데이터를 동일한 크기의 구간으로 나눌 수 있으며, 각 구간에 포함되는 데이터의 개수가 비슷하게 됩니다. 
- 이를 통해 데이터를 더 공정하게 분석할 수 있습니다.

In [21]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '신': ['제우스', '헤라', '포세이돈', '아테나', '아폴로', '아레스', '헤르메스', '아르테미스'],
    '강력함 점수': [98, 75, 89, 90, 85, 92, 87, 88]
}

df = pd.DataFrame(data)

# 강력함 점수를 분위수를 기준으로 구간별로 나누기
df['강력함 분위수 구간'] = pd.qcut(df['강력함 점수'], q=4, labels=['하', '중하', '중상', '상'])

print(df)

       신  강력함 점수 강력함 분위수 구간
0    제우스      98          상
1     헤라      75          하
2   포세이돈      89         중상
3    아테나      90         중상
4    아폴로      85          하
5    아레스      92          상
6   헤르메스      87         중하
7  아르테미스      88         중하

In [22]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '도시국가': ['아테네', '스파르타', '코란토스', '테베', '코란토스'],
    '군사력 지수': [95, 98, 80, 87, 82]
}

df = pd.DataFrame(data)

# 군사력 지수를 분위수를 기준으로 구간별로 나누기
df['군사력 분위수 구간'] = pd.qcut(df['군사력 지수'], q=4, labels=['하', '중하', '중상', '상'])

print(df)

   도시국가  군사력 지수 군사력 분위수 구간
0   아테네      95         중상
1  스파르타      98          상
2  코란토스      80          하
3    테베      87         중하
4  코란토스      82          하

In [23]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '철학자': ['소크라테스', '플라톤', '아리스토텔레스', '헤라클레이토스', '에픽테토스'],
    '영향력 지수': [90, 95, 98, 85, 88]
}

df = pd.DataFrame(data)

# 영향력 지수를 분위수를 기준으로 구간별로 나누기
df['영향력 분위수 구간'] = pd.qcut(df['영향력 지수'], q=4, labels=['하', '중하', '중상', '상'])

print(df)

       철학자  영향력 지수 영향력 분위수 구간
0    소크라테스      90         중하
1      플라톤      95         중상
2  아리스토텔레스      98          상
3  헤라클레이토스      85          하
4    에픽테토스      88          하

In [24]:
import pandas as pd

# 샘플 데이터 생성
data = {
    '인물': ['페르세우스', '헤라클레스', '헤라', '플라톤', '아리스토텔레스'],
    '지위 점수': [85, 98, 75, 90, 95]
}

df = pd.DataFrame(data)

# 지위 점수를 분위수를 기준으로 구간별로 나누기
df['지위 분위수 구간'] = pd.qcut(df['지위 점수'], q=4, labels=['하', '중하', '중상', '상'])

print(df)

        인물  지위 점수 지위 분위수 구간
0    페르세우스     85         하
1    헤라클레스     98         상
2       헤라     75         하
3      플라톤     90        중하
4  아리스토텔레스     95        중상

## 6. merge
- merge 함수는 두 개의 데이터프레임을 특정 열을 기준으로 합치는 데 사용됩니다. 
- 이 함수를 사용하면 데이터프레임 간에 공통된 열을 기준으로 병합하여 하나의 데이터프레임으로 합칠 수 있습니다. 
- 이때, 기준 열의 값이 일치하는 행들이 합쳐집니다.

In [25]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '신': ['제우스', '헤라', '포세이돈', '아테나', '아폴로'],
    '속성': ['천둥', '결혼', '해양', '지혜', '음악']
}
data2 = {
    '신': ['제우스', '헤라', '아폴로', '아레스', '헤르메스'],
    '소유물': ['번개', '왕관', '활과 화살', '창', '길잡이의 지팡이']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# '신' 열을 기준으로 두 데이터프레임 병합
merged_df = pd.merge(df1, df2, on='신', how='inner')

print(merged_df)

     신  속성    소유물
0  제우스  천둥     번개
1   헤라  결혼     왕관
2  아폴로  음악  활과 화살

In [26]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '도시국가': ['아테네', '스파르타', '코란토스', '테베', '코란토스'],
    '역사적 사건': ['페르시아 전쟁', '펠로포네소스 전투', '테베 전쟁', '플라타이아 전투', '살라미스 전투']
}
data2 = {
    '도시국가': ['아테네', '스파르타', '코란토스', '테베', '코란토스'],
    '정치 체제': ['민주주의', '군주제', '민주주의', '군주제', '민주주의']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# '도시국가' 열을 기준으로 두 데이터프레임 병합
merged_df = pd.merge(df1, df2, on='도시국가', how='inner')

print(merged_df)

   도시국가     역사적 사건 정치 체제
0   아테네    페르시아 전쟁  민주주의
1  스파르타  펠로포네소스 전투   군주제
2  코란토스      테베 전쟁  민주주의
3  코란토스      테베 전쟁  민주주의
4  코란토스    살라미스 전투  민주주의
5  코란토스    살라미스 전투  민주주의
6    테베   플라타이아 전투   군주제

In [27]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '철학자': ['소크라테스', '플라톤', '아리스토텔레스', '헤라클레이토스', '에픽테토스'],
    '주요 작품': ['이데아', '국가', '니코마코스 윤리학', '헤라클레이토스의 고전', '선덕과 친절']
}
data2 = {
    '철학자': ['소크라테스', '플라톤', '아리스토텔레스', '헤라클레이토스', '에픽테토스'],
    '주요 개념': ['무지', '이데아', '형이상학', '헤라클레이토스 주의', '우정']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# '철학자' 열을 기준으로 두 데이터프레임 병합
merged_df = pd.merge(df1, df2, on='철학자', how='inner')

print(merged_df)

       철학자        주요 작품       주요 개념
0    소크라테스          이데아          무지
1      플라톤           국가         이데아
2  아리스토텔레스    니코마코스 윤리학        형이상학
3  헤라클레이토스  헤라클레이토스의 고전  헤라클레이토스 주의
4    에픽테토스       선덕과 친절          우정

In [28]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '인물': ['페르세우스', '헤라클레스', '헤라', '플라톤', '아리스토텔레스'],
    '업적': ['메드로사 전투에서 고고학을 위한 조약을 체결', '12가지의 역사적 노동을 완수', '천계 여신', '이상국의 청사진 제시', '논리학과 철학의 성립']
}
data2 = {
    '인물': ['페르세우스', '헤라클레스', '헤라', '플라톤', '아리스토텔레스'],
    '영향력': ['페르세우스의 수행한 여러 위업으로 고대 그리스의 히어로로 인식되었다.', '그의 역사적 노동으로 많은 사람들에게 영감을 주었다.', '그리스 신화에서 중요한 역할을 하였다.', '유럽 철학의 기초를 제공하였다.', '서양 철학의 기초를 제공하였다.']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# '인물' 열을 기준으로 두 데이터프레임 병합
merged_df = pd.merge(df1, df2, on='인물', how='inner')

print(merged_df)

        인물                        업적                                     영향력
0    페르세우스  메드로사 전투에서 고고학을 위한 조약을 체결  페르세우스의 수행한 여러 위업으로 고대 그리스의 히어로로 인식되었다.
1    헤라클레스          12가지의 역사적 노동을 완수           그의 역사적 노동으로 많은 사람들에게 영감을 주었다.
2       헤라                     천계 여신                   그리스 신화에서 중요한 역할을 하였다.
3      플라톤               이상국의 청사진 제시                       유럽 철학의 기초를 제공하였다.
4  아리스토텔레스               논리학과 철학의 성립                       서양 철학의 기초를 제공하였다.

## pandas.merge_ordered 
- 두 개의 데이터프레임을 병합하는데 사용됩니다. 
- 이 함수는 주어진 열을 기준으로 두 데이터프레임을 합치는데, 각 데이터프레임은 정렬되어 있어야 합니다. 
- 이 함수는 두 데이터프레임의 열을 일정한 순서로 합치고, 동일한 값을 갖는 행들을 병합합니다.

In [29]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '사건': ['페르시아 전쟁', '펠로포네소스 전투', '테베 전쟁', '플라타이아 전투', '살라미스 전투'],
    '발생 년도': [490, 480, 371, 479, 480]
}
data2 = {
    '사건': ['살라미스 전투', '페르시아 전쟁', '플라타이아 전투', '펠로포네소스 전투', '테베 전쟁'],
    '결과': ['그리스 승리', '페르시아의 패배', '그리스 승리', '그리스 승리', '테베 승리']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# '사건' 열을 기준으로 두 데이터프레임 병합
merged_df = pd.merge_ordered(df1, df2, on='사건', how='inner')

print(merged_df)

          사건  발생 년도        결과
0    살라미스 전투    480    그리스 승리
1      테베 전쟁    371     테베 승리
2    페르시아 전쟁    490  페르시아의 패배
3  펠로포네소스 전투    480    그리스 승리
4   플라타이아 전투    479    그리스 승리

In [30]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '지명': ['아테네', '스파르타', '코란토스', '테베', '코란토스'],
    '위치': ['아테네 지역', '라콘 시티', '피로스 지역', '보이오티아 지역', '피로스 지역']
}
data2 = {
    '지명': ['아테네', '스파르타', '코란토스', '테베', '코란토스'],
    '정치 체제': ['민주주의', '군주제', '민주주의', '군주제', '민주주의']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# '지명' 열을 기준으로 두 데이터프레임 병합
merged_df = pd.merge_ordered(df1, df2, on='지명', how='inner')

print(merged_df)

     지명        위치 정치 체제
0  스파르타     라콘 시티   군주제
1   아테네    아테네 지역  민주주의
2  코란토스    피로스 지역  민주주의
3  코란토스    피로스 지역  민주주의
4  코란토스    피로스 지역  민주주의
5  코란토스    피로스 지역  민주주의
6    테베  보이오티아 지역   군주제

In [31]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '인물': ['페르세우스', '헤라클레스', '헤라', '플라톤', '아리스토텔레스'],
    '업적': ['메드로사 전투에서 고고학을 위한 조약을 체결', '12가지의 역사적 노동을 완수', '천계 여신', '이상국의 청사진 제시', '논리학과 철학의 성립']
}
data2 = {
    '인물': ['페르세우스', '헤라클레스', '헤라', '플라톤', '아리스토텔레스'],
    '영향력': ['페르세우스의 수행한 여러 위업으로 고대 그리스의 히어로로 인식되었다.', '그의 역사적 노동으로 많은 사람들에게 영감을 주었다.', '그리스 신화에서 중요한 역할을 하였다.', '유럽 철학의 기초를 제공하였다.', '서양 철학의 기초를 제공하였다.']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# '인물' 열을 기준으로 두 데이터프레임 병합
merged_df = pd.merge_ordered(df1, df2, on='인물', how='inner')

print(merged_df)

        인물                        업적                                     영향력
0  아리스토텔레스               논리학과 철학의 성립                       서양 철학의 기초를 제공하였다.
1    페르세우스  메드로사 전투에서 고고학을 위한 조약을 체결  페르세우스의 수행한 여러 위업으로 고대 그리스의 히어로로 인식되었다.
2      플라톤               이상국의 청사진 제시                       유럽 철학의 기초를 제공하였다.
3       헤라                     천계 여신                   그리스 신화에서 중요한 역할을 하였다.
4    헤라클레스          12가지의 역사적 노동을 완수           그의 역사적 노동으로 많은 사람들에게 영감을 주었다.

## 7. pd.merge_asof() 함수
- 주로 시계열 데이터에서 사용되며, 특정 '키' 열에서 정렬된 두 데이터프레임을 병합할 때,
  한 데이터프레임의 키 값과 다른 데이터프레임의 키 값 중 가장 가까운 이전 값을 기준으로 병합하는 방식입니다. 
- 이 함수는 특히 금융 데이터에서 시장 이벤트와 거래를 매칭시킬 때 유용하게 사용됩니다.

In [33]:
'''
import pandas as pd

# 그리스 역사의 중요 사건들과 그 발생 시기 데이터
events = pd.DataFrame({
    'event_number': [1, 2, 3, 4],
    'event_name': ['페르시아 전쟁 시작 🏹', '마라톤 전투 💥', '테르모필레 전투 ⚔️', '살라미스 해전 ⛵'],
    'event_year': [-490, -490, -480, -480]
})

# 사건 번호에 따른 그리스 도시 상태
city_states = pd.DataFrame({
    'event_number': [1, 1.5, 2, 3, 4],
    'city_state': ['아테네 🏛️', '스파르타 🛡️', '아테네 🏛️', '스파르타 🛡️', '아테네 🏛️']
})

# 사건 번호를 기준으로 가장 가까운 이전 값으로 병합
merged_history = pd.merge_asof(events.sort_values('event_number'), city_states.sort_values('event_number'), on='event_number')

print(merged_history)
'''
import pandas as pd
import numpy as np

# 샘플 시계열 데이터 생성
dates1 = pd.to_datetime(['2024-01-01 10:00', '2024-01-01 11:00', '2024-01-01 12:00'])
data1 = {'time': dates1, 'value1': [10, 20, 30]}
df1 = pd.DataFrame(data1)

dates2 = pd.to_datetime(['2024-01-01 10:45', '2024-01-01 11:30', '2024-01-01 12:15'])
data2 = {'time': dates2, 'value2': [100, 200, 300]}
df2 = pd.DataFrame(data2)

# df1의 'time' 열을 기준으로 df2와 병합. 가장 가까운 과거의 타임스탬프를 매칭
merged_df = pd.merge_asof(df1, df2, on='time')

print(merged_df)

                 time  value1  value2
0 2024-01-01 10:00:00      10     NaN
1 2024-01-01 11:00:00      20   100.0
2 2024-01-01 12:00:00      30   200.0

## pandas.concat
- 하나 이상의 데이터프레임을 연결(concatenate)하는 데 사용됩니다. 
- 이 함수를 사용하면 행 또는 열을 기준으로 데이터프레임을 연결할 수 있습니다. 
- 또한, 연결할 때 데이터프레임의 인덱스와 열 이름을 유지하거나 다시 지정할 수 있습니다.

In [34]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '사건': ['페르시아 전쟁', '펠로포네소스 전투', '테베 전쟁'],
    '결과': ['그리스 승리', '그리스 승리', '테베 승리']
}
data2 = {
    '사건': ['플라타이아 전투', '살라미스 전투'],
    '결과': ['그리스 승리', '그리스 승리']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# 데이터프레임 연결
concatenated_df = pd.concat([df1, df2], ignore_index=True)

print(concatenated_df)

          사건      결과
0    페르시아 전쟁  그리스 승리
1  펠로포네소스 전투  그리스 승리
2      테베 전쟁   테베 승리
3   플라타이아 전투  그리스 승리
4    살라미스 전투  그리스 승리

In [35]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '인물': ['소크라테스', '플라톤'],
    '사상': ['무지', '이데아']
}
data2 = {
    '인물': ['아리스토텔레스', '헤라클레이토스'],
    '사상': ['형이상학', '헤라클레이토스 주의']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# 데이터프레임 연결
concatenated_df = pd.concat([df1, df2], ignore_index=True)

print(concatenated_df)

        인물          사상
0    소크라테스          무지
1      플라톤         이데아
2  아리스토텔레스        형이상학
3  헤라클레이토스  헤라클레이토스 주의

In [36]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '지명': ['아테네', '스파르타'],
    '정치 체제': ['민주주의', '군주제']
}
data2 = {
    '지명': ['코란토스', '테베'],
    '정치 체제': ['민주주의', '군주제']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# 데이터프레임 연결
concatenated_df = pd.concat([df1, df2], ignore_index=True)

print(concatenated_df)

     지명 정치 체제
0   아테네  민주주의
1  스파르타   군주제
2  코란토스  민주주의
3    테베   군주제

In [37]:
import pandas as pd

# 샘플 데이터 생성
data1 = {
    '이야기': ['페르세우스의 위대한 모험', '플라톤의 이상국'],
    '설명': ['메드로사 전투에서 고고학을 위한 조약을 체결', '이상국의 청사진 제시']
}
data2 = {
    '이야기': ['헤라클레스의 열두가지 역사적 노동', '아리스토텔레스의 철학의 성립'],
    '설명': ['12가지의 역사적 노동을 완수', '논리학과 철학의 성립']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# 데이터프레임 연결
concatenated_df = pd.concat([df1, df2], ignore_index=True)

print(concatenated_df)

                  이야기                        설명
0       페르세우스의 위대한 모험  메드로사 전투에서 고고학을 위한 조약을 체결
1            플라톤의 이상국               이상국의 청사진 제시
2  헤라클레스의 열두가지 역사적 노동          12가지의 역사적 노동을 완수
3     아리스토텔레스의 철학의 성립               논리학과 철학의 성립