# 판다스와 유럽 역사 알기1-2

- 03_더미변수 변환부터 notnull 확인 등
- https://www.dacon.io/edu/131

## pandas.get_dummies
- 함수는 범주형 변수를 더미(dummy) 또는 인코딩된 변수로 변환해주는 함수입니다. 
- 이 함수를 사용하면 범주형 변수를 숫자형 변수로 변환하여 데이터프레임의 분석에 활용할 수 있습니다. 
- 주어진 열의 고유한 값들을 새로운 이진 더미 변수로 변환하여 새로운 데이터프레임을 반환합니다.¶

In [9]:
# 예제1 그리스 역사적 인물들의 소속을 더미 변수로 변환¶
# 역사적 배경: 그리스의 역사적 인물들은 다양한 소속에 속할 수 있습니다. 
# 샘플 데이터: 그리스 역사적 인물들의 소속을 표현하는 데이터프레임을 생성합니다.

import pandas as pd

# 샘플 데이터 생성
data = {
    '인물': ['소크라테스', '플라톤', '아리스토텔레스', '헤라클레이토스'],
    '소속': ['철학자', '철학자', '철학자', '철학자']
}

df = pd.DataFrame(data)

# get_dummies 함수를 사용하여 더미 변수 생성
dummy_df = pd.get_dummies(df['소속'])

# 인물과 더미 변수를 병합하여 새로운 데이터프레임 생성
merged_df = pd.concat([df['인물'], dummy_df], axis=1)

print(merged_df)

        인물  철학자
0    소크라테스    1
1      플라톤    1
2  아리스토텔레스    1
3  헤라클레이토스    1

In [3]:
# 예제2 그리스 역사적 이벤트의 유형을 더미 변수로 변환
# 역사적 배경: 그리스의 역사적 이벤트는 다양한 유형으로 구성됩니다.
# 샘플 데이터: 그리스 역사적 이벤트의 유형을 표현하는 데이터프레임을 생성합니다.

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', '테베 전쟁', '플라타이아 전투', '살라미스 전투'],
    '유형': ['전쟁', '전투', '전쟁', '전투', '전투']
}

df = pd.DataFrame(data)

# get_dummies 함수를 사용하여 더미 변수 생성
dummy_df = pd.get_dummies(df['유형'])

# 이벤트와 더미 변수를 병합하여 새로운 데이터프레임 생성
merged_df = pd.concat([df['이벤트'], dummy_df], axis=1)

print(merged_df)

         이벤트  전쟁  전투
0    페르시아 전쟁   1   0
1  펠로포네소스 전투   0   1
2      테베 전쟁   1   0
3   플라타이아 전투   0   1
4    살라미스 전투   0   1

In [4]:
# 예제3 그리스의 역사적 시대를 더미 변수로 변환
# 역사적 배경: 그리스의 역사적 시대는 다양한 기간으로 나뉘어집니다.
# 샘플 데이터: 그리스 역사적 시대를 표현하는 데이터프레임을 생성합니다.

import pandas as pd

# 샘플 데이터 생성
data = {
    '시대': ['고대', '고전', '헬레니스틱', '로마'],
    '특징': ['다양한 신화와 전설', '민주주의의 시작', '왕국의 출현', '로마 제국의 성립']
}

df = pd.DataFrame(data)

# get_dummies 함수를 사용하여 더미 변수 생성
dummy_df = pd.get_dummies(df['시대'])

# 시대와 더미 변수를 병합하여 새로운 데이터프레임 생성
merged_df = pd.concat([df['특징'], dummy_df], axis=1)

print(merged_df)

           특징  고대  고전  로마  헬레니스틱
0  다양한 신화와 전설   1   0   0      0
1    민주주의의 시작   0   1   0      0
2      왕국의 출현   0   0   0      1
3   로마 제국의 성립   0   0   1      0

In [5]:
# 예제4 그리스 역사적 지명의 종류를 더미 변수로 변환
# 역사적 배경: 그리스는 다양한 역사적인 지명들로 이루어져 있습니다.
# 샘플 데이터: 그리스 역사적인 지명의 종류를 표현하는 데이터프레임을 생성합니다.

import pandas as pd

# 샘플 데이터 생성
data = {
    '지명': ['아테네', '스파르타', '코란토스', '테베'],
    '유형': ['도시', '도시', '도시', '도시']
}

df = pd.DataFrame(data)

# get_dummies 함수를 사용하여 더미 변수 생성
dummy_df = pd.get_dummies(df['유형'])

# 지명과 더미 변수를 병합하여 새로운 데이터프레임 생성
merged_df = pd.concat([df['지명'], dummy_df], axis=1)

print(merged_df)

     지명  도시
0   아테네   1
1  스파르타   1
2  코란토스   1
3    테베   1

 ## pandas.factorize
 
 - 함수는 범주형 변수를 정수형으로 변환하는 함수입니다.
 - 이 함수는 주어진 범주형 변수의 고유한 값들을 찾아내고, 
 - 각 값에 대해 정수를 할당하여 새로운 정수형 범주형 변수를 생성합니다.

In [10]:
# 그리스 역사적 인물들의 소속을 정수형으로 변환
# 역사적 배경: 그리스의 역사적 인물들은 다양한 소속에 속할 수 있습니다. 
# 샘플 데이터: 그리스 역사적 인물들의 소속을 표현하는 데이터프레임을 생성합니다.

import pandas as pd

# 샘플 데이터 생성
data = {
    '인물': ['소크라테스', '플라톤', '아리스토텔레스', '헤라클레이토스', '소크라테스'],
    '소속': ['철학자', '철학자', '철학자', '철학자', '철학자']
}

df = pd.DataFrame(data)

# '소속' 열을 정수형으로 변환
df['소속_정수'] = pd.factorize(df['소속'])[0]

print(df)

        인물   소속  소속_정수
0    소크라테스  철학자      0
1      플라톤  철학자      0
2  아리스토텔레스  철학자      0
3  헤라클레이토스  철학자      0
4    소크라테스  철학자      0

In [12]:
# 예제2 그리스 역사적 이벤트의 유형을 정수형으로 변환
# 역사적 배경: 그리스의 역사적 이벤트는 다양한 유형으로 구성됩니다. 
# 샘플 데이터: 그리스 역사적 이벤트의 유형을 표현하는 데이터프레임을 생성합니다.

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', '테베 전쟁', '플라타이아 전투', '살라미스 전투'],
    '유형': ['전쟁', '전투', '전쟁', '전투', '전투']
}

df = pd.DataFrame(data)

# '유형' 열을 정수형으로 변환
df['유형_정수'] = pd.factorize(df['유형'])[0]

print(df)

         이벤트  유형  유형_정수
0    페르시아 전쟁  전쟁      0
1  펠로포네소스 전투  전투      1
2      테베 전쟁  전쟁      0
3   플라타이아 전투  전투      1
4    살라미스 전투  전투      1

In [13]:
# 예제3 그리스의 역사적 시대를 정수형으로 변환
# 역사적 배경: 그리스의 역사적 시대는 다양한 기간으로 나뉘어집니다.
# 샘플 데이터: 그리스 역사적 시대를 표현하는 데이터프레임을 생성합니다.

import pandas as pd

# 샘플 데이터 생성
data = {
    '시대': ['고대', '고전', '헬레니스틱', '로마'],
    '특징': ['다양한 신화와 전설', '민주주의의 시작', '왕국의 출현', '로마 제국의 성립']
}

df = pd.DataFrame(data)

# '시대' 열을 정수형으로 변환
df['시대_정수'] = pd.factorize(df['시대'])[0]

print(df)

      시대          특징  시대_정수
0     고대  다양한 신화와 전설      0
1     고전    민주주의의 시작      1
2  헬레니스틱      왕국의 출현      2
3     로마   로마 제국의 성립      3

In [14]:
# 예제4 그리스 역사적 지명의 종류를 정수형으로 변환
# 역사적 배경: 그리스는 다양한 역사적인 지명들로 이루어져 있습니다.
# 샘플 데이터: 그리스 역사적인 지명의 종류를 표현하는 데이터프레임을 생성합니다.

import pandas as pd

# 샘플 데이터 생성
data = {
    '지명': ['아테네', '스파르타', '코란토스', '테베'],
    '유형': ['도시', '도시', '도시', '도시']
}

df = pd.DataFrame(data)

# '유형' 열을 정수형으로 변환
df['유형_정수'] = pd.factorize(df['유형'])[0]

print(df)

     지명  유형  유형_정수
0   아테네  도시      0
1  스파르타  도시      0
2  코란토스  도시      0
3    테베  도시      0

## pandas.unique
- 함수는 Series나 DataFrame에서 고유한 값을 반환하는 함수입니다.
- 이 함수를 사용하면 주어진 Series나 DataFrame 열에서 고유한 값들을 찾아내어 반환할 수 있습니다.

In [20]:
# 예제1 그리스 역사적 이벤트에서 고유한 사건들을 찾아내기
# 역사적 배경: 그리스의 역사는 다양한 사건들로 이루어져 있습니다.
# 샘플 데이터: 그리스 역사적 이벤트에서 발생한 사건들을 표현하는 Series를 생성합니다.

import pandas as pd

# 샘플 데이터 생성
events = pd.Series(['페르시아 전쟁', '펠로포네소스 전투', '페르시아 전쟁', '살라미스 전투', '페르시아 전쟁'])

# 고유한 사건들을 찾아내기
unique_events = pd.unique(events)

print(unique_events)

['페르시아 전쟁' '펠로포네소스 전투' '살라미스 전투']

In [19]:
# 예제2 그리스 역사적 인물에서 고유한 인물들을 찾아내기
# 역사적 배경: 그리스의 역사적 인물들은 다양한 인물들로 이루어져 있습니다.
# 샘플 데이터: 그리스 역사적 인물들을 표현하는 Series를 생성합니다.

import pandas as pd

# 샘플 데이터 생성
figures = pd.Series(['소크라테스', '플라톤', '아리스토텔레스', '소크라테스', '헤라클레이토스'])

# 고유한 인물들을 찾아내기
unique_figures = pd.unique(figures)

print(unique_figures)

['소크라테스' '플라톤' '아리스토텔레스' '헤라클레이토스']

In [21]:
# 예제3 그리스 역사적 시대에서 고유한 시대들을 찾아내기
# 역사적 배경: 그리스의 역사적 시대는 다양한 기간으로 나뉘어집니다.
# 샘플 데이터: 그리스 역사적 시대를 표현하는 Series를 생성합니다.

import pandas as pd

# 샘플 데이터 생성
periods = pd.Series(['고대', '고전', '고대', '헬레니스틱', '고전'])

# 고유한 시대들을 찾아내기
unique_periods = pd.unique(periods)

print(unique_periods)

['고대' '고전' '헬레니스틱']

In [22]:
# 예제4 그리스 역사적 지명에서 고유한 지명들을 찾아내기
# 역사적 배경: 그리스는 다양한 역사적인 지명들로 이루어져 있습니다.
# 샘플 데이터: 그리스 역사적인 지명들을 표현하는 Series를 생성합니다. 

import pandas as pd

# 샘플 데이터 생성
locations = pd.Series(['아테네', '스파르타', '아테네', '테베', '코란토스'])

# 고유한 지명들을 찾아내기
unique_locations = pd.unique(locations)

print(unique_locations)

['아테네' '스파르타' '테베' '코란토스']

## pandas.lreshape 함수는
- 넓은 형식(wide format)의 데이터프레임을 길게 형식(long format)으로 변환하는 함수입니다.
- 이 함수를 사용하면 여러 개의 열을 하나의 열로 정리할 수 있습니다. 주로 데이터를 재구성하거나 분석하기 쉬운 형태로 변환할 때 사용됩니다.

In [25]:
# 예제1 그리스 역사적 인물과 그들이 참여한 이벤트들의 관계를 나타내는 데이터프레임을 길게 변환하기
# 역사적 배경: 그리스의 역사적 인물들은 다양한 이벤트에 참여했습니다.
# 샘플 데이터: 그리스 역사적 인물과 그들이 참여한 이벤트를 나타내는 넓은 형식의 데이터프레임을 생성합니다.

import pandas as pd

# 샘플 데이터 생성 (넓은 형식)
data = {
    '인물': ['소크라테스', '플라톤', '아리스토텔레스'],
    '이벤트_1': ['페르시아 전쟁', '펠로포네소스 전투', '테베 전쟁'],
    '이벤트_2': ['살라미스 전투', '나이아 전투', '플라타이아 전투']
}

df = pd.DataFrame(data)

# pandas.lreshape 함수를 사용하여 데이터프레임을 길게 변환
df_long = pd.lreshape(df, {'이벤트': ['이벤트_1', '이벤트_2']})

print(df_long)

        인물        이벤트
0    소크라테스    페르시아 전쟁
1      플라톤  펠로포네소스 전투
2  아리스토텔레스      테베 전쟁
3    소크라테스    살라미스 전투
4      플라톤     나이아 전투
5  아리스토텔레스   플라타이아 전투

In [26]:
# 예제2 그리스 역사적 이벤트와 해당 이벤트에 참여한 인물들의 관계를 나타내는 데이터프레임을 길게 변환하기
# 역사적 배경: 그리스의 역사적 이벤트들에는 다양한 인물들이 참여했습니다.
# 샘플 데이터: 그리스 역사적 이벤트와 해당 이벤트에 참여한 인물들을 나타내는 넓은 형식의 데이터프레임을 생성합니다.

# 샘플 데이터 생성 (넓은 형식)
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', '테베 전쟁', '살라미스 전투'],
    '인물_1': ['소크라테스', '소크라테스', '아리스토텔레스', '소크라테스'],
    '인물_2': ['플라톤', '아리스토텔레스', '소크라테스', '플라톤']
}

df = pd.DataFrame(data)

# pandas.lreshape 함수를 사용하여 데이터프레임을 길게 변환
df_long = pd.lreshape(df, {'인물': ['인물_1', '인물_2']})

print(df_long)

         이벤트       인물
0    페르시아 전쟁    소크라테스
1  펠로포네소스 전투    소크라테스
2      테베 전쟁  아리스토텔레스
3    살라미스 전투    소크라테스
4    페르시아 전쟁      플라톤
5  펠로포네소스 전투  아리스토텔레스
6      테베 전쟁    소크라테스
7    살라미스 전투      플라톤

## pandas.wide_to_long function

In [27]:
# 예제1 그리스 역사 스토리텔링을 기반으로한 실행 가능한 샘플 예제
# 그리스 역사적 이벤트에서 인물과 해당 인물의 참여 여부를 나타내는 데이터프레임을 넓게 변환하기

import pandas as pd

# 샘플 데이터 생성 (길게 형식)
data = {
    '이벤트_인물_소크라테스': [1, 0, 1, 1],
    '이벤트_인물_플라톤': [0, 1, 1, 0],
    '이벤트_인물_아리스토텔레스': [0, 1, 0, 1],
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', '테베 전쟁', '살라미스 전투']
}

df = pd.DataFrame(data)

# pandas.wide_to_long 함수를 사용하여 데이터프레임을 넓게 변환
df_wide = df.rename(columns=lambda x: x.split('_')[-1])
df_wide['id'] = df_wide.index
df_long = pd.wide_to_long(df_wide, stubnames=['인물'], i='id', j='참여여부', sep='_', suffix=r'\w+')
df_long.reset_index(inplace=True)

print(df_long)

Empty DataFrame
Columns: [id, 참여여부, 이벤트, 플라톤, 아리스토텔레스, 소크라테스, 인물]
Index: []

In [29]:
# 예제2 그리스 역사적 인물과 그들이 참여한 이벤트의 관계를 나타내는 데이터프레임을 넓게 변환하기

import pandas as pd

# 샘플 데이터 생성 (길게 형식)
data = {
    '인물_이벤트_페르시아 전쟁': [1, 0, 1, 1],
    '인물_이벤트_펠로포네소스 전투': [0, 1, 1, 0],
    '인물_이벤트_테베 전쟁': [0, 1, 0, 1],
    '인물': ['소크라테스', '플라톤', '아리스토텔레스', '소크라테스']
}

df = pd.DataFrame(data)

# pandas.wide_to_long 함수를 사용하여 데이터프레임을 넓게 변환
df_wide = df.rename(columns=lambda x: '_'.join(x.split('_')[1:]))
df_wide['id'] = df_wide.index
df_long = pd.wide_to_long(df_wide, stubnames=['이벤트'], i='id', j='참여여부', sep='_', suffix=r'\w+')
df_long.reset_index(inplace=True)

print(df_long)

Empty DataFrame
Columns: [id, 참여여부, , 이벤트_펠로포네소스 전투, 이벤트_페르시아 전쟁, 이벤트_테베 전쟁, 이벤트]
Index: []

## pandas.isna
- 파라미터: 
    obj: DataFrame, Series, 배열 또는 스칼라 값 검사할 데이터 구조.

- 리턴값:
    DataFrame, Series, 배열 또는 스칼라 값과 같은 유형 입력된 데이터 구조와 같은 유형을 반환합니다. 데이터 구조에서 누락된 값(NaN, NaT)이 포함된 위치에 대해 True를, 그렇지 않은 경우 False를 반환합니다.

In [30]:
# 예제1 그리스 역사 스토리텔링을 기반으로한 실행 가능한 샘플 예제:
# 그리스 역사적 이벤트에서 누락된 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', None, '살라미스 전투', '테베 전쟁'],
    '연도': [480, None, 371, 480, 368],
    '참여자': ['소크라테스', '소크라테스', '아리스토텔레스', '소크라테스', '플라톤']
}

df = pd.DataFrame(data)

# 누락된 값 확인
is_missing = pd.isna(df)

print(is_missing)

     이벤트     연도    참여자
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False  False
4  False  False  False

In [32]:
# 예제2 그리스 역사적 인물의 생년월일에서 누락된 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '인물': ['소크라테스', '아리스토텔레스', '플라톤'],
    '생년월일': ['469 BC', None, '427 BC']
}

df = pd.DataFrame(data)

# 누락된 값 확인
is_missing = pd.isna(df)

print(is_missing)

      인물   생년월일
0  False  False
1  False   True
2  False  False

In [33]:
# 예제3 그리스 역사적 이벤트에서 장소 정보가 누락된 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', '나이아 전투', '살라미스 전투'],
    '장소': ['아테네', None, '나이아', '코란토스']
}

df = pd.DataFrame(data)

# 누락된 값 확인
is_missing = pd.isna(df)

print(is_missing)

     이벤트     장소
0  False  False
1  False   True
2  False  False
3  False  False

In [34]:
# 예제4 그리스 역사적 이벤트에서 참여자 정보가 누락된 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '살라미스 전투', '펠로포네소스 전투', '테베 전쟁'],
    '참여자': ['소크라테스', '플라톤', None, '아리스토텔레스']
}

df = pd.DataFrame(data)

# 누락된 값 확인
is_missing = pd.isna(df)

print(is_missing)

     이벤트    참여자
0  False  False
1  False  False
2  False   True
3  False  False

## pandas.isnull

In [38]:
# 예제1 그리스 역사 스토리텔링을 기반으로한 실행 가능한 샘플 예제

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', None, '살라미스 전투', '테베 전쟁'],
    '연도': [480, None, 371, 480, 368],
    '참여자': ['소크라테스', '소크라테스', '아리스토텔레스', '소크라테스', '플라톤']
}

df = pd.DataFrame(data)

# 누락된 값 확인
is_null = pd.isnull(df)

print(is_null)

     이벤트     연도    참여자
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False  False
4  False  False  False

In [39]:
# 예제2 그리스 역사적 인물의 생년월일에서 누락된 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '인물': ['소크라테스', '아리스토텔레스', '플라톤'],
    '생년월일': ['469 BC', None, '427 BC']
}

df = pd.DataFrame(data)

# 누락된 값 확인
is_null = pd.isnull(df)

print(is_null)

      인물   생년월일
0  False  False
1  False   True
2  False  False

In [40]:
# 예제3 그리스 역사적 이벤트에서 장소 정보가 누락된 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', '나이아 전투', '살라미스 전투'],
    '장소': ['아테네', None, '나이아', '코란토스']
}

df = pd.DataFrame(data)

# 누락된 값 확인
is_null = pd.isnull(df)

print(is_null)

     이벤트     장소
0  False  False
1  False   True
2  False  False
3  False  False

In [41]:
# 예제4 그리스 역사적 이벤트에서 참여자 정보가 누락된 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '살라미스 전투', '펠로포네소스 전투', '테베 전쟁'],
    '참여자': ['소크라테스', '플라톤', None, '아리스토텔레스']
}

df = pd.DataFrame(data)

# 누락된 값 확인
is_null = pd.isnull(df)

print(is_null)

     이벤트    참여자
0  False  False
1  False  False
2  False   True
3  False  False

## pandas.notna

In [45]:
# 예제1 그리스 역사적 이벤트에서 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', None, '살라미스 전투', '테베 전쟁'],
    '연도': [480, None, 371, 480, 368],
    '참여자': ['소크라테스', '소크라테스', '아리스토텔레스', '소크라테스', '플라톤']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notna(df)

print(not_missing)

     이벤트     연도   참여자
0   True   True  True
1   True  False  True
2  False   True  True
3   True   True  True
4   True   True  True

In [46]:
# 예제2 그리스 역사적 인물의 생년월일에서 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '인물': ['소크라테스', '아리스토텔레스', '플라톤'],
    '생년월일': ['469 BC', None, '427 BC']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notna(df)

print(not_missing)

     인물   생년월일
0  True   True
1  True  False
2  True   True

In [47]:
# 예제3 그리스 역사적 이벤트에서 장소 정보가 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', '나이아 전투', '살라미스 전투'],
    '장소': ['아테네', None, '나이아', '코란토스']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notna(df)

print(not_missing)

    이벤트     장소
0  True   True
1  True  False
2  True   True
3  True   True

In [48]:
# 예제4 그리스 역사적 이벤트에서 참여자 정보가 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '살라미스 전투', '펠로포네소스 전투', '테베 전쟁'],
    '참여자': ['소크라테스', '플라톤', None, '아리스토텔레스']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notna(df)

print(not_missing)

    이벤트    참여자
0  True   True
1  True   True
2  True  False
3  True   True

## pandas.notnull

In [54]:
# 예제1 그리스 역사적 이벤트에서 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', None, '살라미스 전투', '테베 전쟁'],
    '연도': [480, None, 371, 480, 368],
    '참여자': ['소크라테스', '소크라테스', '아리스토텔레스', '소크라테스', '플라톤']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notnull(df)

print(not_missing)

     이벤트     연도   참여자
0   True   True  True
1   True  False  True
2  False   True  True
3   True   True  True
4   True   True  True

In [55]:
# 예제2 그리스 역사적 인물의 생년월일에서 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '인물': ['소크라테스', '아리스토텔레스', '플라톤'],
    '생년월일': ['469 BC', None, '427 BC']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notnull(df)

print(not_missing)

     인물   생년월일
0  True   True
1  True  False
2  True   True

In [56]:
# 예제3 그리스 역사적 이벤트에서 장소 정보가 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '펠로포네소스 전투', '나이아 전투', '살라미스 전투'],
    '장소': ['아테네', None, '나이아', '코란토스']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notnull(df)

print(not_missing)

    이벤트     장소
0  True   True
1  True  False
2  True   True
3  True   True

In [57]:
# 예제4 그리스 역사적 이벤트에서 참여자 정보가 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['페르시아 전쟁', '살라미스 전투', '펠로포네소스 전투', '테베 전쟁'],
    '참여자': ['소크라테스', '플라톤', None, '아리스토텔레스']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notnull(df)

print(not_missing)

    이벤트    참여자
0  True   True
1  True   True
2  True  False
3  True   True

## pandas.notna

In [3]:
# 예제1 중세 역사적 이벤트에서 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['십자군 전쟁', '백성의 군대', None, '노르만 정복'],
    '연도': [1096, None, 1066, 1090],
    '장소': ['중동', '유럽', '영국', '이탈리아']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notna(df)

print(not_missing)

     이벤트     연도    장소
0   True   True  True
1   True  False  True
2  False   True  True
3   True   True  True

In [4]:
# 예제2 중세 역사적 인물의 생년월일을 숫자로 변환하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '인물': ['윌리엄 1세', '리처드 1세', '헨리 2세'],
    '생년월일': ['1028', None, '1133']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notna(df)

print(not_missing)

     인물   생년월일
0  True   True
1  True  False
2  True   True

In [5]:
# 예제3 중세 역사적 이벤트의 장소 정보가 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['마그나 카르타', '영겁의 전쟁', '첼시 대회', '카스틸라 수호전'],
    '장소': ['영국', '미국', None, '스페인']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notna(df)

print(not_missing)

    이벤트     장소
0  True   True
1  True   True
2  True  False
3  True   True

In [6]:
# 예제4 중세 역사적 이벤트에서 참여자 정보가 누락되지 않은 값 확인하기

import pandas as pd

# 샘플 데이터 생성
data = {
    '이벤트': ['윌리엄 정복', '리처드 1세 사자왕', '백성의 군대'],
    '참여자': ['노르만 인', None, '영국 백성']
}

df = pd.DataFrame(data)

# 누락되지 않은 값 확인
not_missing = pd.notna(df)

print(not_missing)

    이벤트    참여자
0  True   True
1  True  False
2  True   True