# 판다스와 유럽 역사 알기1-5

- 05_
- https://www.dacon.io/edu/131

## pandas.period_range
- 일정한 주기를 가진 기간 범위를 생성하는 데 사용됩니다. 
- 이 함수는 금융, 경제학, 역사학 등 다양한 분야에서 시계열 데이터를 다룰 때 유용하게 사용됩니다.

In [1]:
import pandas as pd

mongol_empire_expansion = pd.period_range(start='1206', end='1227', freq='A')
print(f"몽골 제국 확장 기간: {mongol_empire_expansion}")

몽골 제국 확장 기간: PeriodIndex(['1206', '1207', '1208', '1209', '1210', '1211', '1212', '1213',
             '1214', '1215', '1216', '1217', '1218', '1219', '1220', '1221',
             '1222', '1223', '1224', '1225', '1226', '1227'],
            dtype='period[A-DEC]')

In [2]:
import pandas as pd

# 1. 중세 초기의 5개월 간격으로 3개의 기간 생성
early_medieval = pd.period_range(start='1100', periods=3, freq='5M')
print(f"🏰 Early Medieval Periods: {early_medieval}")

# 2. 십자군 전쟁 기간의 연간 기간 생성
crusades = pd.period_range(start='1096', end='1099', freq='Y')
print(f"⚔️ Crusades Periods: {crusades}")

# 3. 르네상스 전야의 매 분기 기간 4개 생성
renaissance_eve = pd.period_range(start='1400', periods=4, freq='Q')
print(f"📜 Renaissance Eve Periods: {renaissance_eve}")

# 4. 대항해 시대의 시작부터 1498년까지의 연간 기간 생성
age_of_exploration = pd.period_range(start='1492', end='1498', freq='Y')
print(f"🌍 Age of Exploration Periods: {age_of_exploration}")

🏰 Early Medieval Periods: PeriodIndex(['1100-01', '1100-06', '1100-11'], dtype='period[5M]')
⚔️ Crusades Periods: PeriodIndex(['1096', '1097', '1098', '1099'], dtype='period[A-DEC]')
📜 Renaissance Eve Periods: PeriodIndex(['1400Q1', '1400Q2', '1400Q3', '1400Q4'], dtype='period[Q-DEC]')
🌍 Age of Exploration Periods: PeriodIndex(['1492', '1493', '1494', '1495', '1496', '1497', '1498'], dtype='period[A-DEC]')

## pandas.timedelta_range 함수는
- 일정한 간격의 시간 차이를 나타내는 TimedeltaIndex 객체를 생성합니다. 
- 이 함수는 시간 기반의 데이터를 처리할 때 유용하며, 특히 시간 간격이 규칙적인 데이터 시퀀스를 생성할 때 사용됩니다.

In [3]:
# 1. 성 건축 기간: 100년 전쟁 중 성의 건축 기간을 timedelta로 표현하기

import pandas as pd

# 100년 전쟁 기간 중 성 건축 시작
start = pd.Timedelta(days=0)

# 성 건축에 걸린 시간: 약 10년
end = pd.Timedelta(days=3650)

# 건축 기간 동안의 주요 시점 표시
castle_construction = pd.timedelta_range(start=start, end=end, periods=5)
print(castle_construction)

TimedeltaIndex([   '0 days 00:00:00',  '912 days 12:00:00',
                '1825 days 00:00:00', '2737 days 12:00:00',
                '3650 days 00:00:00'],
               dtype='timedelta64[ns]', freq=None)

In [4]:
# 2. 중세 문서 작성: 중세 시대 문서 작성에 걸린 시간 표현하기

import pandas as pd

# 문서 작성 시작
start = pd.Timedelta(days=0)

# 문서 작성에 걸린 시간: 약 1년
end = pd.Timedelta(days=365)

# 문서 작성 기간 동안의 주요 시점
document_creation = pd.timedelta_range(start=start, end=end, periods=3)
print(document_creation)

TimedeltaIndex(['0 days 00:00:00', '182 days 12:00:00', '365 days 00:00:00'], dtype='timedelta64[ns]', freq=None)

In [6]:
# 3. 전투 기간: 중세 시대의 한 전투 기간을 timedelta로 표현하기
import pandas as pd

# 전투 시작
start = pd.Timedelta(hours=0)

# 전투 지속 시간: 24시간
end = pd.Timedelta(hours=24)

# 전투 기간 동안의 주요 시점
battle_duration = pd.timedelta_range(start=start, end=end, freq='H')
print(battle_duration)

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00',
                '0 days 12:00:00', '0 days 13:00:00', '0 days 14:00:00',
                '0 days 15:00:00', '0 days 16:00:00', '0 days 17:00:00',
                '0 days 18:00:00', '0 days 19:00:00', '0 days 20:00:00',
                '0 days 21:00:00', '0 days 22:00:00', '0 days 23:00:00',
                '1 days 00:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [8]:
# 4. 군사 훈련: 중세 기사의 군사 훈련 기간 표현하기

'''
import pandas as pd

# 군사 훈련 시작
start = pd.Timedelta(weeks=0)

# 훈련 기간: 약 6개월
end = pd.Timedelta(weeks=26)

# 훈련 기간 동안의 주요 시점
military_training = pd.timedelta_range(start=start, end=end, freq='W')
print(military_training)
'''

import pandas as pd

# 군사 훈련 시작
start = pd.Timedelta(weeks=0)

# 훈련 기간: 약 6개월
end = pd.Timedelta(weeks=26)

# 훈련 기간 동안의 주요 시점
# 'W' 대신 '7D'를 사용하여 주간 간격 설정
military_training = pd.timedelta_range(start=start, end=end, freq='7D')
print(military_training)

TimedeltaIndex([  '0 days',   '7 days',  '14 days',  '21 days',  '28 days',
                 '35 days',  '42 days',  '49 days',  '56 days',  '63 days',
                 '70 days',  '77 days',  '84 days',  '91 days',  '98 days',
                '105 days', '112 days', '119 days', '126 days', '133 days',
                '140 days', '147 days', '154 days', '161 days', '168 days',
                '175 days', '182 days'],
               dtype='timedelta64[ns]', freq='7D')

In [12]:
# 1. 성 건축 날짜: 중세 시대 성 건축에 소요된 시간의 빈도 추론하기

import pandas as pd

# 성 건축 날짜
castle_dates = pd.date_range(start='1900-01-01', end='1902-12-31', freq='6M')

#start='1300-01-01', end='1302-12-31'

# 빈도 추론
freq = pd.infer_freq(castle_dates)
print(f"추론된 빈도: {freq}")

추론된 빈도: 2Q-OCT

In [13]:
# 2. 중세 문서 기록: 중세 문서가 기록된 날짜의 빈도 추론하기

import pandas as pd

# 문서 기록 날짜
document_dates = pd.date_range(start='1900-03-01', periods=4, freq='3Y')

#start='1200-03-01'

# 빈도 추론
freq = pd.infer_freq(document_dates)
print(f"추론된 빈도: {freq}")

추론된 빈도: 3A-DEC

In [14]:
# 3. 전투 날짜: 중세 시대 전투가 일어난 날짜의 빈도 추론하기

import pandas as pd

# 전투 날짜
battle_dates = pd.date_range(start='1950-07-01', end='1950-07-14', freq='D')
#start='1450-07-01', end='1450-07-14'
# 빈도 추론
freq = pd.infer_freq(battle_dates)
print(f"추론된 빈도: {freq}")

추론된 빈도: D

In [15]:
# 4. 기사단 훈련 날짜: 중세 기사단의 훈련 날짜의 빈도 추론하기

import pandas as pd

# 기사단 훈련 날짜
knight_training_dates = pd.date_range(start='1950-01-01', end='1950-04-01', freq='W')
#start='1350-01-01', end='1350-04-01'

# 빈도 추론
freq = pd.infer_freq(knight_training_dates)
print(f"추론된 빈도: {freq}")

추론된 빈도: W-SUN

## pandas.Timestamp
- 날짜와 시간을 나타내는 객체입니다.
- Python의 datetime.datetime과 유사하며, 시계열 데이터를 다룰 때 효과적입니다.

In [16]:
# 1. 건축 기간: 중세 시대에 건축된 성의 건축 기간을 구간으로 표현하기

import pandas as pd

# 성 건축 기간을 연 단위로 표현하기 위해 Timestamp 객체 사용
start = pd.Timestamp('1900-01-01')
end = pd.Timestamp('1900-01-01')

#start = pd.Timestamp('1200-01-01')
#end = pd.Timestamp('1300-01-01')

# 50년 간격의 IntervalRange 생성
castle_construction_periods = pd.interval_range(start=start, end=end, freq='50Y')

print(castle_construction_periods)

IntervalIndex([], dtype='interval[datetime64[ns], right]')

In [17]:
# 1. 중세 문서 기록 기간: 다양한 중세 문서들이 기록된 시기를 구간으로 표현하기

'''
import pandas as pd
​
# 중세 문서 기록 기간을 10년 단위로 표현
document_recording_periods = pd.interval_range(start=1100, end=1200, freq='10Y')
​
print(document_recording_periods)
'''

import pandas as pd

# 중세 문서 기록 기간을 10년 단위로 표현하기 위해 Timestamp 객체 사용
start = pd.Timestamp('1800-01-01')
end = pd.Timestamp('1900-01-01')

#start = pd.Timestamp('1200-01-01')
#end = pd.Timestamp('1300-01-01')

# 10년 간격의 IntervalRange 생성
document_recording_periods = pd.interval_range(start=start, end=end, freq='10Y')

print(document_recording_periods)

IntervalIndex([(1800-12-31, 1810-12-31], (1810-12-31, 1820-12-31], (1820-12-31, 1830-12-31], (1830-12-31, 1840-12-31], (1840-12-31, 1850-12-31], (1850-12-31, 1860-12-31], (1860-12-31, 1870-12-31], (1870-12-31, 1880-12-31], (1880-12-31, 1890-12-31]], dtype='interval[datetime64[ns], right]')

In [18]:
# 1. 탐험대 비용 계산: 탐험대의 여정 비용 계산하기

import pandas as pd

# 탐험대 비용 데이터
df = pd.DataFrame({'ships': [3, 5, 2], 'cost_per_ship': [1000, 1500, 1200]})
total_cost = "df.ships * df.cost_per_ship"

# 총 비용 계산
result = pd.eval(total_cost)
print(f"탐험대 총 비용: {result}")

탐험대 총 비용: 0    3000
1    7500
2    2400
dtype: int64

In [19]:
# 2. 신대륙 발견으로 인한 금의 가치 변화: 신대륙 발견 후 금의 가치 변화 계산하기

# write python code here import pandas as pd

# 금의 가치 데이터
gold_data = pd.DataFrame({'gold_before': [100, 200, 150], 'gold_after': [80, 180, 130]})
value_change = "gold_data.gold_after - gold_data.gold_before"

# 금 가치 변화 계산
result = pd.eval(value_change)
print(f"금 가치 변화: {result}")

금 가치 변화: 0   -20
1   -20
2   -20
dtype: int64

In [20]:
# 3. 교역품의 가치 총합: 대항해 시대 교역품의 가치 총합 계산하기

import pandas as pd

# 교역품 데이터
trade_goods = pd.DataFrame({'spices': [300, 450, 500], 'silk': [200, 300, 250]})
total_value = "trade_goods.spices + trade_goods.silk"

# 교역품 가치 총합 계산
result = pd.eval(total_value)
print(f"교역품 가치 총합: {result}")

교역품 가치 총합: 0    500
1    750
2    750
dtype: int64

In [21]:
# 3. 전투에서의 손실: 대항해 시대 전투에서의 손실 계산하기

import pandas as pd

# 전투 손실 데이터
battle_data = pd.DataFrame({'ships_start': [10, 15, 20], 'ships_end': [8, 12, 15]})
losses = "battle_data.ships_start - battle_data.ships_end"

# 전투 손실 계산
result = pd.eval(losses)
print(f"전투 손실: {result}")

전투 손실: 0    2
1    3
2    5
dtype: int64

## pandas.tseries.api.guess_datetime_format
- 주어진 날짜와 시간 문자열에서 가능한 datetime 포맷을 추론합니다.
- 이 함수는 일관되지 않거나 알려지지 않은 날짜 형식의 문자열을 처리할 때 유용하게 사용될 수 있습니다.

In [22]:
# 콜럼버스의 신대륙 발견: 콜럼버스가 신대륙을 발견한 날짜의 datetime 포맷 추론하기
# 현재 버전 파이썬 버전 3.11.3

'''
import pandas as pd

# 콜럼버스의 신대륙 발견 날짜
columbus_discovery_date = "12/10/1492"

# datetime 포맷 추론
date_format = pd.tseries.api.guess_datetime_format(columbus_discovery_date)
print(f"추론된 datetime 포맷: {date_format}")
'''

'\n\u200b\nimport pandas as pd\n\u200b\n# 콜럼버스의 신대륙 발견 날짜\ncolumbus_discovery_date = "12/10/1492"\n\u200b\n# datetime 포맷 추론\ndate_format = pd.tseries.api.guess_datetime_format(columbus_discovery_date)\nprint(f"추론된 datetime 포맷: {date_format}")\n'

## pandas.util.hash_array
- 배열의 값에 대한 해시 값을 계산합니다. 
- 이 함수는 데이터의 유일성 검사나 빠른 비교를 위해 유용하게 사용될 수 있습니다.

In [23]:
# 1. 주요 항로의 해시 값 계산: 대항해 시대 주요 항로 이름의 해시 값을 계산하기

import pandas as pd
import numpy as np

# 주요 항로 이름
routes = np.array(['Atlantic Route', 'Cape Route', 'Silk Road', 'Spice Route'])

# 해시 값 계산
hash_values = pd.util.hash_array(routes)
print(f"항로 이름 해시 값: {hash_values}")

항로 이름 해시 값: [ 9620757622534365278 12269458150978267685 13341645385739181903
 16990423141895310416]

In [24]:
# 2. 탐험가 이름의 해시 값 계산: 대항해 시대 탐험가 이름의 해시 값을 계산하기
import pandas as pd
import numpy as np

# 탐험가 이름
explorers = np.array(['Vasco da Gama', 'Christopher Columbus', 'Marco Polo', 'Ferdinand Magellan'])

# 해시 값 계산
hash_values = pd.util.hash_array(explorers)
print(f"탐험가 이름 해시 값: {hash_values}")

탐험가 이름 해시 값: [ 6776023315326279901  1193597354698626800 12761465110707033658
 13711978492471422366]

In [25]:
# 3. 교역품 목록의 해시 값 계산: 대항해 시대 교역품 목록의 해시 값을 계산하기
import pandas as pd
import numpy as np

# 교역품 목록
goods = np.array(['Spices', 'Silk', 'Gold', 'Porcelain'])

# 해시 값 계산
hash_values = pd.util.hash_array(goods)
print(f"교역품 목록 해시 값: {hash_values}")

교역품 목록 해시 값: [11058918359816411079 16575584968463966011 15240394364393670202
 14049370182206277919]

In [26]:
# 4. 전투 이름의 해시 값 계산: 대항해 시대 전투 이름의 해시 값을 계산하기
import pandas as pd
import numpy as np

# 전투 이름
battles = np.array(['Battle of Diu', 'Battle of Preveza', 'Battle of Lepanto', 'Siege of Malta'])

# 해시 값 계산
hash_values = pd.util.hash_array(battles)
print(f"전투 이름 해시 값: {hash_values}")

전투 이름 해시 값: [13354558233855539999  7689292640034937058  5699336577240804952
  5373417335233728262]

## pandas.util.hash_pandas_object
- pandas 객체(예: Series, DataFrame의 열)의 값에 대한 해시 값을 계산합니다.
- 함수는 데이터의 유일성 검사나 빠른 비교를 위해 사용될 수 있습니다.

In [31]:
# 1. 교역품의 해시 값 계산: 대항해 시대 교역품 목록의 해시 값을 계산하기

import pandas as pd

# 교역품 목록
goods = pd.Series(['Spices', 'Silk', 'Gold', 'Porcelain'])

# 해시 값 계산
hash_values = pd.util.hash_pandas_object(goods)
print(f"교역품 목록 해시 값:\n{hash_values}")

교역품 목록 해시 값:
0    13108899374202969118
1     4249112924938115343
2    17250903437627488943
3    15731078277626775318
dtype: uint64

In [30]:
# 2. 탐험가의 해시 값 계산: 대항해 시대 탐험가 목록의 해시 값을 계산하기

import pandas as pd

# 탐험가 목록
explorers = pd.Series(['Vasco da Gama', 'Christopher Columbus', 'Marco Polo', 'Ferdinand Magellan'])

# 해시 값 계산
hash_values = pd.util.hash_pandas_object(explorers)
print(f"탐험가 목록 해시 값:\n{hash_values}")

탐험가 목록 해시 값:
0     3661179251452485420
1     5145764961580468382
2    13545779338714630831
3    15298719028237241465
dtype: uint64

In [32]:
# 3. 항로의 해시 값 계산: 대항해 시대 주요 항로 이름의 해시 값을 계산하기

import pandas as pd

# 항로 이름
routes = pd.Series(['Atlantic Route', 'Cape Route', 'Silk Road', 'Spice Route'])

# 해시 값 계산
hash_values = pd.util.hash_pandas_object(routes)
print(f"항로 이름 해시 값:\n{hash_values}")

항로 이름 해시 값:
0    12887631511205692489
1    12655522289825976457
2    13132171028282894956
3    16981856326720500083
dtype: uint64

In [33]:
# 4. 전투의 해시 값 계산: 대항해 시대 주요 전투 명칭의 해시 값을 계산하기

import pandas as pd

# 전투 명칭
battles = pd.Series(['Battle of Diu', 'Battle of Preveza', 'Battle of Lepanto', 'Siege of Malta'])

# 해시 값 계산
hash_values = pd.util.hash_pandas_object(battles)
print(f"전투 명칭 해시 값:\n{hash_values}")

전투 명칭 해시 값:
0    15400158274269846054
1     5918872047286612016
2    10397730306157482577
3     5965988932843797553
dtype: uint64

## pandas.api.interchange.from_dataframe
- pandas DataFrame을 다른 라이브러리에서 사용할 수 있는 interchange 포맷으로 변환합니다. 
- 이를 통해 pandas 데이터 구조를 다른 데이터 분석 툴과 호환되는 형태로 쉽게 변환할 수 있습니다.

In [38]:
# 1. 교역품 데이터 변환: 대항해 시대의 교역품 목록과 가격을 DataFrame에서 interchange 포맷으로 변환하기
import pandas as pd
from pandas.api.interchange import from_dataframe

# 교역품 데이터 생성
trade_goods_df = pd.DataFrame({
    'Goods': ['Spices', 'Silk', 'Gold', 'Porcelain'],
    'Price': [100, 200, 300, 400]
})

# interchange 포맷으로 변환
trade_goods_interchange = from_dataframe(trade_goods_df)

print(trade_goods_interchange)

       Goods  Price
0     Spices    100
1       Silk    200
2       Gold    300
3  Porcelain    400

In [37]:
# 2. 탐험가 데이터 변환: 대항해 시대 탐험가들과 그들의 주요 발견을 DataFrame에서 interchange 포맷으로 변환하기
import pandas as pd
from pandas.api.interchange import from_dataframe

# 탐험가 데이터 생성
explorers_df = pd.DataFrame({
    'Explorer': ['Vasco da Gama', 'Christopher Columbus', 'Ferdinand Magellan'],
    'Discovery': ['Sea route to India', 'Americas', 'First circumnavigation of Earth']
})

# interchange 포맷으로 변환
explorers_interchange = from_dataframe(explorers_df)

print(explorers_interchange)

               Explorer                        Discovery
0         Vasco da Gama               Sea route to India
1  Christopher Columbus                         Americas
2    Ferdinand Magellan  First circumnavigation of Earth

In [36]:
# 3. 전투 데이터 변환: 대항해 시대 주요 전투와 그 결과를 DataFrame에서 interchange 포맷으로 변환하기
import pandas as pd
from pandas.api.interchange import from_dataframe

# 전투 데이터 생성
battles_df = pd.DataFrame({
    'Battle': ['Battle of Diu', 'Battle of Preveza', 'Battle of Lepanto'],
    'Result': ['Portuguese victory', 'Ottoman victory', 'Holy League victory']
})

# interchange 포맷으로 변환
battles_interchange = from_dataframe(battles_df)

print(battles_interchange)

              Battle               Result
0      Battle of Diu   Portuguese victory
1  Battle of Preveza      Ottoman victory
2  Battle of Lepanto  Holy League victory