# íŒë‹¤ìŠ¤ì™€ ìœ ëŸ½ ì—­ì‚¬ ì•Œê¸°1-6

- 06_
- https://www.dacon.io/edu/131

## pandas.Series
- ì¼ë ¨ì˜ ë°ì´í„°ë¥¼ 1ì°¨ì› ë°°ì—´ë¡œ ë‚˜íƒ€ë‚´ëŠ” pandasì˜ ê¸°ë³¸ ë°ì´í„° êµ¬ì¡°ì…ë‹ˆë‹¤. 
- ê° ë°ì´í„° í•­ëª©ì€ ê³ ìœ í•œ ì¸ë±ìŠ¤ì— ì—°ê²°ë©ë‹ˆë‹¤.

In [1]:
# 1. íƒí—˜ê°€ì™€ ë°œê²¬: ëŒ€í•­í•´ ì‹œëŒ€ íƒí—˜ê°€ë“¤ê³¼ ê·¸ë“¤ì˜ ì£¼ìš” ë°œê²¬

import pandas as pd

# íƒí—˜ê°€ì™€ ê·¸ë“¤ì˜ ë°œê²¬
explorers_discoveries = pd.Series(
    data=['India', 'Americas', 'Circumnavigate the Earth'],
    index=['Vasco da Gama', 'Christopher Columbus', 'Ferdinand Magellan'],
    name='Discoveries'
)

print(explorers_discoveries)

Vasco da Gama                              India
Christopher Columbus                    Americas
Ferdinand Magellan      Circumnavigate the Earth
Name: Discoveries, dtype: object

In [2]:
# 2. ğŸ“¦ êµì—­í’ˆ ê°€ê²©: ëŒ€í•­í•´ ì‹œëŒ€ êµì—­í’ˆê³¼ ê·¸ ê°€ê²©
import pandas as pd

# êµì—­í’ˆê³¼ ê°€ê²©
trade_goods_prices = pd.Series(
    {'Spices': 100, 'Silk': 200, 'Gold': 300},
    name='Prices'
)

print(trade_goods_prices)

Spices    100
Silk      200
Gold      300
Name: Prices, dtype: int64

In [3]:
# ì „íˆ¬ ê²°ê³¼: ëŒ€í•­í•´ ì‹œëŒ€ ì£¼ìš” ì „íˆ¬ì˜ ê²°ê³¼
import pandas as pd

# ì „íˆ¬ ê²°ê³¼
battle_outcomes = pd.Series(
    ['Victory', 'Defeat', 'Stalemate'],
    index=['Battle of Diu', 'Battle of Preveza', 'Battle of Lepanto'],
    dtype='category'
)

print(battle_outcomes)

Battle of Diu          Victory
Battle of Preveza       Defeat
Battle of Lepanto    Stalemate
dtype: category
Categories (3, object): ['Defeat', 'Stalemate', 'Victory']

## Series.index ì†ì„±
- pandas Seriesì˜ ì¸ë±ìŠ¤ë¥¼ ë°˜í™˜í•©ë‹ˆë‹¤.
- ì´ ì¸ë±ìŠ¤ëŠ” Seriesì˜ ê° ë°ì´í„° í•­ëª©ì„ ê³ ìœ í•˜ê²Œ ì‹ë³„í•˜ëŠ” ë¼ë²¨ ì—­í• ì„ í•©ë‹ˆë‹¤.

In [4]:
# 1. íƒí—˜ê°€ì˜ ë°œê²¬: ëŒ€í•­í•´ ì‹œëŒ€ íƒí—˜ê°€ë“¤ì´ ë°œê²¬í•œ ë•…ì˜ ëª©ë¡ì„ ì¸ë±ìŠ¤ë¡œ ì‚¬ìš©í•˜ê¸°
import pandas as pd

# íƒí—˜ê°€ì˜ ë°œê²¬
discoveries = pd.Series(
    ['India', 'Americas', 'Circumnavigate the Earth'],
    index=['Vasco da Gama', 'Christopher Columbus', 'Ferdinand Magellan']
)

# ì¸ë±ìŠ¤ ì¶œë ¥
print("íƒí—˜ê°€ ì¸ë±ìŠ¤:\n", discoveries.index)

íƒí—˜ê°€ ì¸ë±ìŠ¤:
 Index(['Vasco da Gama', 'Christopher Columbus', 'Ferdinand Magellan'], dtype='object')

In [6]:
# 2. êµì—­í’ˆ ê°€ê²©: ëŒ€í•­í•´ ì‹œëŒ€ êµì—­í’ˆì˜ ê°€ê²© ì¸ë±ìŠ¤
import pandas as pd

# êµì—­í’ˆ ê°€ê²©
goods_prices = pd.Series({'Spices': 100, 'Silk': 200, 'Gold': 300})

# ì¸ë±ìŠ¤ ì¶œë ¥
print("êµì—­í’ˆ ì¸ë±ìŠ¤:\n", goods_prices.index)

êµì—­í’ˆ ì¸ë±ìŠ¤:
 Index(['Spices', 'Silk', 'Gold'], dtype='object')

In [7]:
# 3. ì „íˆ¬ ê²°ê³¼: ëŒ€í•­í•´ ì‹œëŒ€ ì „íˆ¬ì˜ ê²°ê³¼ë¥¼ ë‚˜íƒ€ë‚´ëŠ” Seriesì˜ ì¸ë±ìŠ¤
import pandas as pd

# ì „íˆ¬ ê²°ê³¼
battle_results = pd.Series(['Victory', 'Defeat', 'Stalemate'], index=['Battle of Diu', 'Battle of Preveza', 'Battle of Lepanto'])

# ì¸ë±ìŠ¤ ì¶œë ¥
print("ì „íˆ¬ ì¸ë±ìŠ¤:\n", battle_results.index)

ì „íˆ¬ ì¸ë±ìŠ¤:
 Index(['Battle of Diu', 'Battle of Preveza', 'Battle of Lepanto'], dtype='object')

## Series.array ì†ì„±
- pandas Series ë‚´ë¶€ì˜ ë°ì´í„° ë°°ì—´ì„ ë°˜í™˜í•©ë‹ˆë‹¤. 
- ì´ ì†ì„±ì„ í†µí•´ Seriesì˜ ë°ì´í„°ë¥¼ PandasArray ë˜ëŠ” ExtensionArray í˜•íƒœë¡œ ì§ì ‘ ì ‘ê·¼í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [8]:
# 1. íƒí—˜ê°€ì˜ ë°œê²¬ ë°°ì—´: ëŒ€í•­í•´ ì‹œëŒ€ íƒí—˜ê°€ë“¤ì´ ë°œê²¬í•œ ë•…ì˜ ë°°ì—´
import pandas as pd

# íƒí—˜ê°€ì˜ ë°œê²¬
discoveries = pd.Series(['India', 'Americas', 'Australia'], index=['Vasco da Gama', 'Christopher Columbus', 'James Cook'])

# ë‚´ë¶€ ë°ì´í„° ë°°ì—´ ì ‘ê·¼
print("ë°œê²¬ëœ ì§€ì—­ ë°°ì—´:\n", discoveries.array)

ë°œê²¬ëœ ì§€ì—­ ë°°ì—´:
 <PandasArray>
['India', 'Americas', 'Australia']
Length: 3, dtype: object

In [9]:
# 2. êµì—­í’ˆ ê°€ê²©: ëŒ€í•­í•´ ì‹œëŒ€ì— ì¤‘ìš”í•œ êµì—­í’ˆì˜ ê°€ê²©
import pandas as pd

# êµì—­í’ˆ ê°€ê²©
goods_prices = pd.Series([100, 200, 150], index=['Spices', 'Silk', 'Tea'])

# ë‚´ë¶€ ë°ì´í„° ë°°ì—´ ì ‘ê·¼
print("êµì—­í’ˆ ê°€ê²© ë°°ì—´:\n", goods_prices.array)

êµì—­í’ˆ ê°€ê²© ë°°ì—´:
 <PandasArray>
[100, 200, 150]
Length: 3, dtype: int64

In [10]:
# 3. í•­í•´ ê±°ë¦¬: ëŒ€í•­í•´ ì‹œëŒ€ íƒí—˜ê°€ë“¤ì´ í•­í•´í•œ ê±°ë¦¬(ë‹¨ìœ„: ë§ˆì¼)
import pandas as pd

# í•­í•´ ê±°ë¦¬
voyage_distances = pd.Series([7000, 5000, 9000], index=['Vasco da Gama', 'Christopher Columbus', 'Ferdinand Magellan'])
# ë‚´ë¶€ ë°ì´í„° ë°°ì—´ ì ‘ê·¼
print("í•­í•´ ê±°ë¦¬ ë°°ì—´:\n", voyage_distances.array)

í•­í•´ ê±°ë¦¬ ë°°ì—´:
 <PandasArray>
[7000, 5000, 9000]
Length: 3, dtype: int64

## pandas.Series.values
- Series ë‚´ì˜ ë°ì´í„°ë¥¼ NumPy ë°°ì—´ë¡œ ë°˜í™˜í•©ë‹ˆë‹¤. 
- ì´ ì†ì„±ì„ í†µí•´ pandas êµ¬ì¡°ì—ì„œ ê¸°ë³¸ ë°ì´í„°ì— ì ‘ê·¼í•  ìˆ˜ ìˆìœ¼ë©°, ì´ ë°ì´í„°ëŠ” ë¶„ì„ì´ë‚˜ ê³„ì‚°ì— ì§ì ‘ ì‚¬ìš©ë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [11]:
# 1. ğŸ›ï¸ ìœ ëª…í•œ ì² í•™ìë“¤: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ìœ ëª…í•œ ì² í•™ìë“¤ì˜ ë¦¬ìŠ¤íŠ¸
import pandas as pd

# ìœ ëª…í•œ ê·¸ë¦¬ìŠ¤ ì² í•™ìë“¤
philosophers = pd.Series(['Socrates', 'Plato', 'Aristotle'])

# ë‚´ë¶€ ë°ì´í„° ë°°ì—´ ì ‘ê·¼
print("ì² í•™ìë“¤ ë°°ì—´:\n", philosophers.values)

ì² í•™ìë“¤ ë°°ì—´:
 ['Socrates' 'Plato' 'Aristotle']

In [12]:
# 2. ì¤‘ìš”í•œ ì €ì‘ë“¤: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ì² í•™ìë“¤ì˜ ì¤‘ìš”í•œ ì €ì‘ë“¤
import pandas as pd

# ì¤‘ìš”í•œ ê·¸ë¦¬ìŠ¤ ì² í•™ ì €ì‘ë“¤
works = pd.Series(['The Republic', 'Nicomachean Ethics', 'Metaphysics'], index=['Plato', 'Aristotle', 'Aristotle'])

# ë‚´ë¶€ ë°ì´í„° ë°°ì—´ ì ‘ê·¼
print("ì €ì‘ë“¤ ë°°ì—´:\n", works.values)

ì €ì‘ë“¤ ë°°ì—´:
 ['The Republic' 'Nicomachean Ethics' 'Metaphysics']

In [13]:
# 3. ê³ ëŒ€ ë„ì‹œ êµ­ê°€ë“¤ì˜ ì¸êµ¬: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ë„ì‹œ êµ­ê°€ë“¤ê³¼ ê·¸ ì¸êµ¬
import pandas as pd

# ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ë„ì‹œ êµ­ê°€ë“¤ì˜ ì¸êµ¬
city_states_population = pd.Series([10000, 8000, 5000], index=['Athens', 'Sparta', 'Corinth'])

# ë‚´ë¶€ ë°ì´í„° ë°°ì—´ ì ‘ê·¼
print("ë„ì‹œ êµ­ê°€ ì¸êµ¬ ë°°ì—´:\n", city_states_population.values)

ë„ì‹œ êµ­ê°€ ì¸êµ¬ ë°°ì—´:
 [10000  8000  5000]

# pandas.Series.dtypes
- pandas Series ë‚´ì˜ ë°ì´í„° íƒ€ì…ì„ ë°˜í™˜í•©ë‹ˆë‹¤.
- SeriesëŠ” ë‹¨ì¼ íƒ€ì…ì˜ ë°ì´í„°ë¥¼ ì €ì¥í•˜ê¸° ë•Œë¬¸ì—, ì´ ì†ì„±ì€ Series ë‚´ ë°ì´í„°ì˜ íƒ€ì… ì •ë³´ë¥¼ ì œê³µí•©ë‹ˆë‹¤.

In [16]:
# 1. ğŸ›ï¸ ìœ ëª…í•œ ì² í•™ìë“¤: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ìœ ëª…í•œ ì² í•™ìë“¤ì˜ ì´ë¦„
import pandas as pd

# ìœ ëª…í•œ ê·¸ë¦¬ìŠ¤ ì² í•™ìë“¤
philosophers = pd.Series(['Socrates', 'Plato', 'Aristotle'])

# ë°ì´í„° íƒ€ì… í™•ì¸
print("ì² í•™ì ì´ë¦„ ë°ì´í„° íƒ€ì…:", philosophers.dtypes)

ì² í•™ì ì´ë¦„ ë°ì´í„° íƒ€ì…: object

In [17]:
# 2. ğŸ­ ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ í¬ê·¹ ì‘ê°€ë“¤: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ í¬ê·¹ ì‘ê°€ë“¤ê³¼ ê·¸ë“¤ì˜ ì£¼ìš” ì‘í’ˆ ìˆ˜
import pandas as pd

# ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ í¬ê·¹ ì‘ê°€ë“¤ê³¼ ê·¸ë“¤ì˜ ì‘í’ˆ ìˆ˜
comedians = pd.Series({'Aristophanes': 40, 'Menander': 105, 'Eupolis': 35})

# ë°ì´í„° íƒ€ì… í™•ì¸
print("í¬ê·¹ ì‘ê°€ ì‘í’ˆ ìˆ˜ ë°ì´í„° íƒ€ì…:", comedians.dtypes)

í¬ê·¹ ì‘ê°€ ì‘í’ˆ ìˆ˜ ë°ì´í„° íƒ€ì…: int64

In [18]:
# 3. ğŸº ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ë„ì‹œ êµ­ê°€ë“¤ì˜ ë©´ì : ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ì£¼ìš” ë„ì‹œ êµ­ê°€ë“¤ê³¼ ê·¸ ë©´ì (ì œê³±í‚¬ë¡œë¯¸í„°)
import pandas as pd

# ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ë„ì‹œ êµ­ê°€ë“¤ì˜ ë©´ì 
city_states_area = pd.Series({'Athens': 2.39, 'Sparta': 8.30, 'Corinth': 9.44})

# ë°ì´í„° íƒ€ì… í™•ì¸
print("ë„ì‹œ êµ­ê°€ ë©´ì  ë°ì´í„° íƒ€ì…:", city_states_area.dtypes)

ë„ì‹œ êµ­ê°€ ë©´ì  ë°ì´í„° íƒ€ì…: float64

# pandas.Series.shape
- pandas Seriesì˜ í˜•íƒœë¥¼ ë‚˜íƒ€ë‚´ëŠ” íŠœí”Œì„ ë°˜í™˜í•©ë‹ˆë‹¤.
- ì´ ì†ì„±ì€ Series ë‚´ì˜ ìš”ì†Œ ê°œìˆ˜ë¥¼ í¬í•¨í•˜ëŠ” ë‹¨ì¼ ì°¨ì› íŠœí”Œì„ ì œê³µí•©ë‹ˆë‹¤.

In [19]:
# 1. ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ì² í•™ìë“¤: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ìœ ëª…í•œ ì² í•™ìë“¤
import pandas as pd

# ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ì² í•™ìë“¤
philosophers = pd.Series(['Socrates', 'Plato', 'Aristotle', 'Democritus', 'Pythagoras'])

# Series í˜•íƒœ í™•ì¸
print("ì² í•™ì Series í˜•íƒœ:", philosophers.shape)

ì² í•™ì Series í˜•íƒœ: (5,)

In [20]:
# 2. ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ í•™íŒŒë“¤: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ì£¼ìš” ì² í•™ í•™íŒŒë“¤
import pandas as pd

# ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ì² í•™ í•™íŒŒë“¤
schools = pd.Series(['Platonism', 'Aristotelianism', 'Cynicism', 'Stoicism', 'Epicureanism', 'Skepticism'])

# Series í˜•íƒœ í™•ì¸
print("ì² í•™ í•™íŒŒ Series í˜•íƒœ:", schools.shape)

ì² í•™ í•™íŒŒ Series í˜•íƒœ: (6,)

In [21]:
# 3. ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ í¬ê·¹ ì‘ê°€ë“¤: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ìœ ëª…í•œ í¬ê·¹ ì‘ê°€ë“¤
import pandas as pd

# ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ í¬ê·¹ ì‘ê°€ë“¤
comedians = pd.Series(['Aristophanes', 'Menander', 'Eupolis', 'Cratinus', 'Philemon', 'Diphilus', 'Apollodorus'])

# Series í˜•íƒœ í™•ì¸
print("í¬ê·¹ ì‘ê°€ Series í˜•íƒœ:", comedians.shape)

í¬ê·¹ ì‘ê°€ Series í˜•íƒœ: (7,)

# pandas.Series.nbytes
- pandas Seriesê°€ ë©”ëª¨ë¦¬ì—ì„œ ì°¨ì§€í•˜ëŠ” ì´ ë°”ì´íŠ¸ ìˆ˜ë¥¼ ë°˜í™˜í•©ë‹ˆë‹¤. 
- ì´ ì†ì„±ì„ ì‚¬ìš©í•˜ì—¬ ë°ì´í„° êµ¬ì¡°ì˜ ë©”ëª¨ë¦¬ íš¨ìœ¨ì„±ì„ í‰ê°€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [23]:
# 1. ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ë„ìê¸° ìŠ¤íƒ€ì¼: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ì£¼ìš” ë„ìê¸° ìŠ¤íƒ€ì¼
import pandas as pd

# ê³ ëŒ€| ê·¸ë¦¬ìŠ¤ ë„ìê¸° ìŠ¤íƒ€ì¼
pottery_styles = pd.Series(['Geometric', 'Orientalizing', 'Black Figure', 'Red Figure', 'White Ground'])

# ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ í™•ì¸
print("ë„ìê¸° ìŠ¤íƒ€ì¼ Series ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰:", pottery_styles.nbytes, "bytes")

ë„ìê¸° ìŠ¤íƒ€ì¼ Series ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰: 40 bytes

In [24]:
# 2. ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ì¡°ê°ê°€ë“¤: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ìœ ëª…í•œ ì¡°ê°ê°€ë“¤
import pandas as pd

# ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ì¡°ê°ê°€ë“¤
sculptors = pd.Series(['Phidias', 'Polykleitos', 'Myron', 'Praxiteles', 'Lysippos'])

# ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ í™•ì¸
print("ì¡°ê°ê°€ Series ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰:", sculptors.nbytes, "bytes")

ì¡°ê°ê°€ Series ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰: 40 bytes

In [25]:
# 3. ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ê±´ì¶• ì–‘ì‹: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ì£¼ìš” ê±´ì¶• ì–‘ì‹
import pandas as pd

# ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ê±´ì¶• ì–‘ì‹
architectural_styles = pd.Series(['Doric', 'Ionic', 'Corinthian'])

# ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ í™•ì¸
print("ê±´ì¶• ì–‘ì‹ Series ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰:", architectural_styles.nbytes, "bytes")

ê±´ì¶• ì–‘ì‹ Series ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰: 24 bytes

## pandas.Series.ndim ì†ì„±
- pandas Seriesì˜ ì°¨ì› ìˆ˜ë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.
- SeriesëŠ” 1ì°¨ì› ë°ì´í„° êµ¬ì¡°ì´ë¯€ë¡œ, ì´ ì†ì„±ì˜ ê°’ì€ í•­ìƒ 1ì…ë‹ˆë‹¤.

In [28]:
# 1. ê³ ëŒ€ ì•„í…Œë„¤ì˜ ì •ì¹˜ ì²´ì œ: ê³ ëŒ€ ì•„í…Œë„¤ì—ì„œ ì‚¬ìš©ëœ ì£¼ìš” ì •ì¹˜ ì²´ì œë“¤
import pandas as pd

# ê³ ëŒ€ ì•„í…Œë„¤ì˜ ì •ì¹˜ ì²´ì œ
athenian_politics = pd.Series(['Monarchy', 'Aristocracy', 'Tyranny', 'Democracy'])

# ì°¨ì› í™•ì¸
print("ì•„í…Œë„¤ ì •ì¹˜ ì²´ì œ Series ì°¨ì›:", athenian_politics.ndim)

ì•„í…Œë„¤ ì •ì¹˜ ì²´ì œ Series ì°¨ì›: 1

In [29]:
# 2. ìŠ¤íŒŒë¥´íƒ€ì˜ êµ°ì‚¬ ì²´ì œ: ê³ ëŒ€ ìŠ¤íŒŒë¥´íƒ€ì˜ êµ°ì‚¬ ì¡°ì§ êµ¬ì¡°
import pandas as pd

# ìŠ¤íŒŒë¥´íƒ€ì˜ êµ°ì‚¬ ì²´ì œ
spartan_military = pd.Series(['Kings', 'Gerousia', 'Ephors', 'Apella', 'Helots'])

# ì°¨ì› í™•ì¸
print("ìŠ¤íŒŒë¥´íƒ€ êµ°ì‚¬ ì²´ì œ Series ì°¨ì›:", spartan_military.ndim)

ìŠ¤íŒŒë¥´íƒ€ êµ°ì‚¬ ì²´ì œ Series ì°¨ì›: 1

In [30]:
# 3. ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ë„ì‹œ êµ­ê°€ë“¤: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ì£¼ìš” ë„ì‹œ êµ­ê°€ë“¤
import pandas as pd

# ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ ë„ì‹œ êµ­ê°€ë“¤
city_states = pd.Series(['Athens', 'Sparta', 'Corinth', 'Thebes', 'Argos'])

# ì°¨ì› í™•ì¸
print("ê·¸ë¦¬ìŠ¤ ë„ì‹œ êµ­ê°€ Series ì°¨ì›:", city_states.ndim)

ê·¸ë¦¬ìŠ¤ ë„ì‹œ êµ­ê°€ Series ì°¨ì›: 1

## pandas.Series.size
- pandas Series ë‚´ì˜ ìš”ì†Œ ê°œìˆ˜ë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤. 
- ì´ ì†ì„±ì€ Seriesì˜ í¬ê¸°ë¥¼ ì•Œê³  ì‹¶ì„ ë•Œ ìœ ìš©í•˜ê²Œ ì‚¬ìš©ë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [33]:
# 1. ì£¼ìš” ê·¸ë¦¬ìŠ¤ ì‹ ë“¤: ê³ ëŒ€ ê·¸ë¦¬ìŠ¤ì˜ ì£¼ìš” ì‹ ë“¤
import pandas as pd

# ì£¼ìš” ê·¸ë¦¬ìŠ¤ ì‹ ë“¤
greek_gods = pd.Series(['Zeus', 'Hera', 'Poseidon', 'Demeter', 'Athena', 'Apollo', 'Artemis', 'Ares'])

# ìš”ì†Œ ê°œìˆ˜ í™•ì¸
print("ê·¸ë¦¬ìŠ¤ ì‹ ë“¤ Series í¬ê¸°:", greek_gods.size)

ê·¸ë¦¬ìŠ¤ ì‹ ë“¤ Series í¬ê¸°: 8

In [34]:
# 2. íŠ¸ë¡œì´ ì „ìŸì˜ ì˜ì›…ë“¤: íŠ¸ë¡œì´ ì „ìŸì—ì„œ ì¤‘ìš”í•œ ì—­í• ì„ í•œ ì˜ì›…ë“¤
import pandas as pd

# íŠ¸ë¡œì´ ì „ìŸì˜ ì˜ì›…ë“¤
trojan_heroes = pd.Series(['Achilles', 'Hector', 'Odysseus', 'Paris', 'Helen'])

# ìš”ì†Œ ê°œìˆ˜ í™•ì¸
print("íŠ¸ë¡œì´ ì „ìŸ ì˜ì›…ë“¤ Series í¬ê¸°:", trojan_heroes.size)

íŠ¸ë¡œì´ ì „ìŸ ì˜ì›…ë“¤ Series í¬ê¸°: 5

In [35]:
# 3. ì˜¤ë””ì„¸ìš°ìŠ¤ì˜ ëª¨í—˜: ì˜¤ë””ì„¸ìš°ìŠ¤ê°€ ê²½í—˜í•œ ëª¨í—˜ë“¤
import pandas as pd

# ì˜¤ë””ì„¸ìš°ìŠ¤ì˜ ëª¨í—˜
odysseus_adventures = pd.Series(['Cyclopes', 'Lotus Eaters', 'Sirens', 'Scylla and Charybdis', 'Calypso'])

# ìš”ì†Œ ê°œìˆ˜ í™•ì¸
print("ì˜¤ë””ì„¸ìš°ìŠ¤ ëª¨í—˜ Series í¬ê¸°:", odysseus_adventures.size)

ì˜¤ë””ì„¸ìš°ìŠ¤ ëª¨í—˜ Series í¬ê¸°: 5

## pandas.Series.T
- pandas Seriesì˜ ì „ì¹˜(transpose)ë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤. 
- í•˜ì§€ë§Œ SeriesëŠ” 1ì°¨ì› ë°ì´í„° êµ¬ì¡°ì´ê¸° ë•Œë¬¸ì—, ì „ì¹˜ë¥¼ ì ìš©í•´ë„ ì›ë³¸ Seriesì™€ ë™ì¼í•©ë‹ˆë‹¤. 
- ì´ ì†ì„±ì€ ì£¼ë¡œ ì¼ê´€ì„±ì„ ìœ„í•´ DataFrameê³¼ì˜ í˜¸í™˜ì„±ì„ ê°–ì¶”ê¸° ìœ„í•´ ì œê³µë©ë‹ˆë‹¤.

In [39]:
# 1. íŠ¸ë¡œì´ ì „ìŸì˜ ì£¼ìš” ì¸ë¬¼ë“¤: íŠ¸ë¡œì´ ì „ìŸì—ì„œ ì¤‘ìš”í•œ ì—­í• ì„ í•œ ì¸ë¬¼ë“¤
import pandas as pd

# íŠ¸ë¡œì´ ì „ìŸì˜ ì£¼ìš” ì¸ë¬¼ë“¤
trojan_characters = pd.Series(['Achilles', 'Hector', 'Odysseus', 'Paris', 'Agamemnon'])

# ì „ì¹˜ ì‚¬ìš© (ë³€í™” ì—†ìŒ)
print("íŠ¸ë¡œì´ ì „ìŸ ì¸ë¬¼ë“¤ (ì „ì¹˜):\n", trojan_characters.T)

íŠ¸ë¡œì´ ì „ìŸ ì¸ë¬¼ë“¤ (ì „ì¹˜):
 0     Achilles
1       Hector
2     Odysseus
3        Paris
4    Agamemnon
dtype: object

In [40]:
# 2. íŠ¸ë¡œì´ ì „ìŸì˜ ì‹ ë“¤: íŠ¸ë¡œì´ ì „ìŸì— ê°œì…í•œ ê·¸ë¦¬ìŠ¤ ì‹ ë“¤
import pandas as pd

# íŠ¸ë¡œì´ ì „ìŸì— ê°œì…í•œ ì‹ ë“¤
gods_in_trojan_war = pd.Series(['Athena', 'Apollo', 'Aphrodite', 'Zeus', 'Hera'])

# ì „ì¹˜ ì‚¬ìš© (ë³€í™” ì—†ìŒ)
print("íŠ¸ë¡œì´ ì „ìŸì˜ ì‹ ë“¤ (ì „ì¹˜):\n", gods_in_trojan_war.T)

íŠ¸ë¡œì´ ì „ìŸì˜ ì‹ ë“¤ (ì „ì¹˜):
 0       Athena
1       Apollo
2    Aphrodite
3         Zeus
4         Hera
dtype: object

In [41]:
# 3. íŠ¸ë¡œì´ ì „ìŸì˜ ë¬´ê¸°ë“¤: íŠ¸ë¡œì´ ì „ìŸì—ì„œ ì‚¬ìš©ëœ ì£¼ìš” ë¬´ê¸°
import pandas as pd

# íŠ¸ë¡œì´ ì „ìŸì˜ ë¬´ê¸°ë“¤
trojan_war_weapons = pd.Series(['Sword', 'Spear', 'Bow and Arrow', 'Shield'])

# ì „ì¹˜ ì‚¬ìš© (ë³€í™” ì—†ìŒ)
print("íŠ¸ë¡œì´ ì „ìŸì˜ ë¬´ê¸°ë“¤ (ì „ì¹˜):\n", trojan_war_weapons.T)

íŠ¸ë¡œì´ ì „ìŸì˜ ë¬´ê¸°ë“¤ (ì „ì¹˜):
 0            Sword
1            Spear
2    Bow and Arrow
3           Shield
dtype: object