# 판다스와 유럽 역사 알기1-6

- 06_
- https://www.dacon.io/edu/131

## pandas.Series
- 일련의 데이터를 1차원 배열로 나타내는 pandas의 기본 데이터 구조입니다. 
- 각 데이터 항목은 고유한 인덱스에 연결됩니다.

In [1]:
# 1. 탐험가와 발견: 대항해 시대 탐험가들과 그들의 주요 발견

import pandas as pd

# 탐험가와 그들의 발견
explorers_discoveries = pd.Series(
    data=['India', 'Americas', 'Circumnavigate the Earth'],
    index=['Vasco da Gama', 'Christopher Columbus', 'Ferdinand Magellan'],
    name='Discoveries'
)

print(explorers_discoveries)

Vasco da Gama                              India
Christopher Columbus                    Americas
Ferdinand Magellan      Circumnavigate the Earth
Name: Discoveries, dtype: object

In [2]:
# 2. 📦 교역품 가격: 대항해 시대 교역품과 그 가격
import pandas as pd

# 교역품과 가격
trade_goods_prices = pd.Series(
    {'Spices': 100, 'Silk': 200, 'Gold': 300},
    name='Prices'
)

print(trade_goods_prices)

Spices    100
Silk      200
Gold      300
Name: Prices, dtype: int64

In [3]:
# 전투 결과: 대항해 시대 주요 전투의 결과
import pandas as pd

# 전투 결과
battle_outcomes = pd.Series(
    ['Victory', 'Defeat', 'Stalemate'],
    index=['Battle of Diu', 'Battle of Preveza', 'Battle of Lepanto'],
    dtype='category'
)

print(battle_outcomes)

Battle of Diu          Victory
Battle of Preveza       Defeat
Battle of Lepanto    Stalemate
dtype: category
Categories (3, object): ['Defeat', 'Stalemate', 'Victory']

## Series.index 속성
- pandas Series의 인덱스를 반환합니다.
- 이 인덱스는 Series의 각 데이터 항목을 고유하게 식별하는 라벨 역할을 합니다.

In [4]:
# 1. 탐험가의 발견: 대항해 시대 탐험가들이 발견한 땅의 목록을 인덱스로 사용하기
import pandas as pd

# 탐험가의 발견
discoveries = pd.Series(
    ['India', 'Americas', 'Circumnavigate the Earth'],
    index=['Vasco da Gama', 'Christopher Columbus', 'Ferdinand Magellan']
)

# 인덱스 출력
print("탐험가 인덱스:\n", discoveries.index)

탐험가 인덱스:
 Index(['Vasco da Gama', 'Christopher Columbus', 'Ferdinand Magellan'], dtype='object')

In [6]:
# 2. 교역품 가격: 대항해 시대 교역품의 가격 인덱스
import pandas as pd

# 교역품 가격
goods_prices = pd.Series({'Spices': 100, 'Silk': 200, 'Gold': 300})

# 인덱스 출력
print("교역품 인덱스:\n", goods_prices.index)

교역품 인덱스:
 Index(['Spices', 'Silk', 'Gold'], dtype='object')

In [7]:
# 3. 전투 결과: 대항해 시대 전투의 결과를 나타내는 Series의 인덱스
import pandas as pd

# 전투 결과
battle_results = pd.Series(['Victory', 'Defeat', 'Stalemate'], index=['Battle of Diu', 'Battle of Preveza', 'Battle of Lepanto'])

# 인덱스 출력
print("전투 인덱스:\n", battle_results.index)

전투 인덱스:
 Index(['Battle of Diu', 'Battle of Preveza', 'Battle of Lepanto'], dtype='object')

## Series.array 속성
- pandas Series 내부의 데이터 배열을 반환합니다. 
- 이 속성을 통해 Series의 데이터를 PandasArray 또는 ExtensionArray 형태로 직접 접근할 수 있습니다.

In [8]:
# 1. 탐험가의 발견 배열: 대항해 시대 탐험가들이 발견한 땅의 배열
import pandas as pd

# 탐험가의 발견
discoveries = pd.Series(['India', 'Americas', 'Australia'], index=['Vasco da Gama', 'Christopher Columbus', 'James Cook'])

# 내부 데이터 배열 접근
print("발견된 지역 배열:\n", discoveries.array)

발견된 지역 배열:
 <PandasArray>
['India', 'Americas', 'Australia']
Length: 3, dtype: object

In [9]:
# 2. 교역품 가격: 대항해 시대에 중요한 교역품의 가격
import pandas as pd

# 교역품 가격
goods_prices = pd.Series([100, 200, 150], index=['Spices', 'Silk', 'Tea'])

# 내부 데이터 배열 접근
print("교역품 가격 배열:\n", goods_prices.array)

교역품 가격 배열:
 <PandasArray>
[100, 200, 150]
Length: 3, dtype: int64

In [10]:
# 3. 항해 거리: 대항해 시대 탐험가들이 항해한 거리(단위: 마일)
import pandas as pd

# 항해 거리
voyage_distances = pd.Series([7000, 5000, 9000], index=['Vasco da Gama', 'Christopher Columbus', 'Ferdinand Magellan'])
# 내부 데이터 배열 접근
print("항해 거리 배열:\n", voyage_distances.array)

항해 거리 배열:
 <PandasArray>
[7000, 5000, 9000]
Length: 3, dtype: int64

## pandas.Series.values
- Series 내의 데이터를 NumPy 배열로 반환합니다. 
- 이 속성을 통해 pandas 구조에서 기본 데이터에 접근할 수 있으며, 이 데이터는 분석이나 계산에 직접 사용될 수 있습니다.

In [11]:
# 1. 🏛️ 유명한 철학자들: 고대 그리스의 유명한 철학자들의 리스트
import pandas as pd

# 유명한 그리스 철학자들
philosophers = pd.Series(['Socrates', 'Plato', 'Aristotle'])

# 내부 데이터 배열 접근
print("철학자들 배열:\n", philosophers.values)

철학자들 배열:
 ['Socrates' 'Plato' 'Aristotle']

In [12]:
# 2. 중요한 저작들: 고대 그리스 철학자들의 중요한 저작들
import pandas as pd

# 중요한 그리스 철학 저작들
works = pd.Series(['The Republic', 'Nicomachean Ethics', 'Metaphysics'], index=['Plato', 'Aristotle', 'Aristotle'])

# 내부 데이터 배열 접근
print("저작들 배열:\n", works.values)

저작들 배열:
 ['The Republic' 'Nicomachean Ethics' 'Metaphysics']

In [13]:
# 3. 고대 도시 국가들의 인구: 고대 그리스의 도시 국가들과 그 인구
import pandas as pd

# 고대 그리스 도시 국가들의 인구
city_states_population = pd.Series([10000, 8000, 5000], index=['Athens', 'Sparta', 'Corinth'])

# 내부 데이터 배열 접근
print("도시 국가 인구 배열:\n", city_states_population.values)

도시 국가 인구 배열:
 [10000  8000  5000]

# pandas.Series.dtypes
- pandas Series 내의 데이터 타입을 반환합니다.
- Series는 단일 타입의 데이터를 저장하기 때문에, 이 속성은 Series 내 데이터의 타입 정보를 제공합니다.

In [16]:
# 1. 🏛️ 유명한 철학자들: 고대 그리스의 유명한 철학자들의 이름
import pandas as pd

# 유명한 그리스 철학자들
philosophers = pd.Series(['Socrates', 'Plato', 'Aristotle'])

# 데이터 타입 확인
print("철학자 이름 데이터 타입:", philosophers.dtypes)

철학자 이름 데이터 타입: object

In [17]:
# 2. 🎭 고대 그리스 희극 작가들: 고대 그리스의 희극 작가들과 그들의 주요 작품 수
import pandas as pd

# 고대 그리스 희극 작가들과 그들의 작품 수
comedians = pd.Series({'Aristophanes': 40, 'Menander': 105, 'Eupolis': 35})

# 데이터 타입 확인
print("희극 작가 작품 수 데이터 타입:", comedians.dtypes)

희극 작가 작품 수 데이터 타입: int64

In [18]:
# 3. 🏺 고대 그리스 도시 국가들의 면적: 고대 그리스의 주요 도시 국가들과 그 면적(제곱킬로미터)
import pandas as pd

# 고대 그리스 도시 국가들의 면적
city_states_area = pd.Series({'Athens': 2.39, 'Sparta': 8.30, 'Corinth': 9.44})

# 데이터 타입 확인
print("도시 국가 면적 데이터 타입:", city_states_area.dtypes)

도시 국가 면적 데이터 타입: float64

# pandas.Series.shape
- pandas Series의 형태를 나타내는 튜플을 반환합니다.
- 이 속성은 Series 내의 요소 개수를 포함하는 단일 차원 튜플을 제공합니다.

In [19]:
# 1. 고대 그리스 철학자들: 고대 그리스의 유명한 철학자들
import pandas as pd

# 고대 그리스 철학자들
philosophers = pd.Series(['Socrates', 'Plato', 'Aristotle', 'Democritus', 'Pythagoras'])

# Series 형태 확인
print("철학자 Series 형태:", philosophers.shape)

철학자 Series 형태: (5,)

In [20]:
# 2. 고대 그리스 학파들: 고대 그리스의 주요 철학 학파들
import pandas as pd

# 고대 그리스 철학 학파들
schools = pd.Series(['Platonism', 'Aristotelianism', 'Cynicism', 'Stoicism', 'Epicureanism', 'Skepticism'])

# Series 형태 확인
print("철학 학파 Series 형태:", schools.shape)

철학 학파 Series 형태: (6,)

In [21]:
# 3. 고대 그리스 희극 작가들: 고대 그리스의 유명한 희극 작가들
import pandas as pd

# 고대 그리스 희극 작가들
comedians = pd.Series(['Aristophanes', 'Menander', 'Eupolis', 'Cratinus', 'Philemon', 'Diphilus', 'Apollodorus'])

# Series 형태 확인
print("희극 작가 Series 형태:", comedians.shape)

희극 작가 Series 형태: (7,)

# pandas.Series.nbytes
- pandas Series가 메모리에서 차지하는 총 바이트 수를 반환합니다. 
- 이 속성을 사용하여 데이터 구조의 메모리 효율성을 평가할 수 있습니다.

In [23]:
# 1. 고대 그리스 도자기 스타일: 고대 그리스의 주요 도자기 스타일
import pandas as pd

# 고대| 그리스 도자기 스타일
pottery_styles = pd.Series(['Geometric', 'Orientalizing', 'Black Figure', 'Red Figure', 'White Ground'])

# 메모리 사용량 확인
print("도자기 스타일 Series 메모리 사용량:", pottery_styles.nbytes, "bytes")

도자기 스타일 Series 메모리 사용량: 40 bytes

In [24]:
# 2. 고대 그리스 조각가들: 고대 그리스의 유명한 조각가들
import pandas as pd

# 고대 그리스 조각가들
sculptors = pd.Series(['Phidias', 'Polykleitos', 'Myron', 'Praxiteles', 'Lysippos'])

# 메모리 사용량 확인
print("조각가 Series 메모리 사용량:", sculptors.nbytes, "bytes")

조각가 Series 메모리 사용량: 40 bytes

In [25]:
# 3. 고대 그리스 건축 양식: 고대 그리스의 주요 건축 양식
import pandas as pd

# 고대 그리스 건축 양식
architectural_styles = pd.Series(['Doric', 'Ionic', 'Corinthian'])

# 메모리 사용량 확인
print("건축 양식 Series 메모리 사용량:", architectural_styles.nbytes, "bytes")

건축 양식 Series 메모리 사용량: 24 bytes

## pandas.Series.ndim 속성
- pandas Series의 차원 수를 나타냅니다.
- Series는 1차원 데이터 구조이므로, 이 속성의 값은 항상 1입니다.

In [28]:
# 1. 고대 아테네의 정치 체제: 고대 아테네에서 사용된 주요 정치 체제들
import pandas as pd

# 고대 아테네의 정치 체제
athenian_politics = pd.Series(['Monarchy', 'Aristocracy', 'Tyranny', 'Democracy'])

# 차원 확인
print("아테네 정치 체제 Series 차원:", athenian_politics.ndim)

아테네 정치 체제 Series 차원: 1

In [29]:
# 2. 스파르타의 군사 체제: 고대 스파르타의 군사 조직 구조
import pandas as pd

# 스파르타의 군사 체제
spartan_military = pd.Series(['Kings', 'Gerousia', 'Ephors', 'Apella', 'Helots'])

# 차원 확인
print("스파르타 군사 체제 Series 차원:", spartan_military.ndim)

스파르타 군사 체제 Series 차원: 1

In [30]:
# 3. 고대 그리스 도시 국가들: 고대 그리스의 주요 도시 국가들
import pandas as pd

# 고대 그리스 도시 국가들
city_states = pd.Series(['Athens', 'Sparta', 'Corinth', 'Thebes', 'Argos'])

# 차원 확인
print("그리스 도시 국가 Series 차원:", city_states.ndim)

그리스 도시 국가 Series 차원: 1

## pandas.Series.size
- pandas Series 내의 요소 개수를 나타냅니다. 
- 이 속성은 Series의 크기를 알고 싶을 때 유용하게 사용될 수 있습니다.

In [33]:
# 1. 주요 그리스 신들: 고대 그리스의 주요 신들
import pandas as pd

# 주요 그리스 신들
greek_gods = pd.Series(['Zeus', 'Hera', 'Poseidon', 'Demeter', 'Athena', 'Apollo', 'Artemis', 'Ares'])

# 요소 개수 확인
print("그리스 신들 Series 크기:", greek_gods.size)

그리스 신들 Series 크기: 8

In [34]:
# 2. 트로이 전쟁의 영웅들: 트로이 전쟁에서 중요한 역할을 한 영웅들
import pandas as pd

# 트로이 전쟁의 영웅들
trojan_heroes = pd.Series(['Achilles', 'Hector', 'Odysseus', 'Paris', 'Helen'])

# 요소 개수 확인
print("트로이 전쟁 영웅들 Series 크기:", trojan_heroes.size)

트로이 전쟁 영웅들 Series 크기: 5

In [35]:
# 3. 오디세우스의 모험: 오디세우스가 경험한 모험들
import pandas as pd

# 오디세우스의 모험
odysseus_adventures = pd.Series(['Cyclopes', 'Lotus Eaters', 'Sirens', 'Scylla and Charybdis', 'Calypso'])

# 요소 개수 확인
print("오디세우스 모험 Series 크기:", odysseus_adventures.size)

오디세우스 모험 Series 크기: 5

## pandas.Series.T
- pandas Series의 전치(transpose)를 나타냅니다. 
- 하지만 Series는 1차원 데이터 구조이기 때문에, 전치를 적용해도 원본 Series와 동일합니다. 
- 이 속성은 주로 일관성을 위해 DataFrame과의 호환성을 갖추기 위해 제공됩니다.

In [39]:
# 1. 트로이 전쟁의 주요 인물들: 트로이 전쟁에서 중요한 역할을 한 인물들
import pandas as pd

# 트로이 전쟁의 주요 인물들
trojan_characters = pd.Series(['Achilles', 'Hector', 'Odysseus', 'Paris', 'Agamemnon'])

# 전치 사용 (변화 없음)
print("트로이 전쟁 인물들 (전치):\n", trojan_characters.T)

트로이 전쟁 인물들 (전치):
 0     Achilles
1       Hector
2     Odysseus
3        Paris
4    Agamemnon
dtype: object

In [40]:
# 2. 트로이 전쟁의 신들: 트로이 전쟁에 개입한 그리스 신들
import pandas as pd

# 트로이 전쟁에 개입한 신들
gods_in_trojan_war = pd.Series(['Athena', 'Apollo', 'Aphrodite', 'Zeus', 'Hera'])

# 전치 사용 (변화 없음)
print("트로이 전쟁의 신들 (전치):\n", gods_in_trojan_war.T)

트로이 전쟁의 신들 (전치):
 0       Athena
1       Apollo
2    Aphrodite
3         Zeus
4         Hera
dtype: object

In [41]:
# 3. 트로이 전쟁의 무기들: 트로이 전쟁에서 사용된 주요 무기
import pandas as pd

# 트로이 전쟁의 무기들
trojan_war_weapons = pd.Series(['Sword', 'Spear', 'Bow and Arrow', 'Shield'])

# 전치 사용 (변화 없음)
print("트로이 전쟁의 무기들 (전치):\n", trojan_war_weapons.T)

트로이 전쟁의 무기들 (전치):
 0            Sword
1            Spear
2    Bow and Arrow
3           Shield
dtype: object