# 판다스와 유럽 역사 알기1-13

- 13_
- https://www.dacon.io/edu/131

## pandas.Series.median 메서드
시리즈 내의 중앙값을 계산합니다.  
중앙값은 정렬된 데이터 세트에서 중앙에 위치한 값으로, 데이터 세트의 중심 경향을 나타냅니다.

In [2]:
'''
예제 1: 소크라테스 학파의 논리학 테스트 점수 중앙값 📚🤔
소크라테스 학파에서 실시한 논리학 테스트의 점수 중앙값을 계산합니다. 누락된 점수는 계산에서 제외합니다.
'''

import pandas as pd

# 소크라테스 학파 학생들의 논리학 테스트 점수
socratic_logic_scores = pd.Series([85, 90, 95, None, 100, 80, 75, 92])

# 논리학 테스트 점수의 중앙값 계산
median_score = socratic_logic_scores.median(skipna=True)

print(f"소크라테스 학파 논리학 테스트 점수의 중앙값: {median_score}")

소크라테스 학파 논리학 테스트 점수의 중앙값: 90.0

In [3]:
'''
예제 2: 헬레니즘 시대의 철학 서적 페이지 수 중앙값 📖
헬레니즘 시대에 출판된 철학 서적의 페이지 수 중앙값을 계산합니다. 이는 당시 철학 서적의 일반적인 분량을 나타냅니다.
'''

import pandas as pd

# 헬레니즘 시대 철학 서적의 페이지 수
hellenistic_philosophy_book_pages = pd.Series([200, 300, 250, 350, 400, 450, 180, 160, 500])

# 철학 서적 페이지 수의 중앙값 계산
median_pages = hellenistic_philosophy_book_pages.median(skipna=True)

print(f"헬레니즘 시대 철학 서적 페이지 수의 중앙값: {median_pages}")

헬레니즘 시대 철학 서적 페이지 수의 중앙값: 300.0

## pandas.Series.min 메서드는
시리즈 내의 최소값을 찾습니다.   
이 메서드는 수치형 데이터, 문자열 데이터, 날짜/시간 데이터 등 다양한 유형의 데이터에서 가장 작은 값을 식별할 때 사용됩니다.

In [4]:
'''
예제 1: 고대 그리스 도시 국가별 인구 최소값 🏛️👥
고대 그리스의 주요 도시 국가들의 인구를 나타내는 데이터에서 인구 최소값을 찾습니다.
'''

import pandas as pd

# 고대 그리스 도시 국가들의 인구
city_states_population = pd.Series({'Athens': 300000, 'Sparta': 100000, 'Corinth': 150000, 'Thebes': 50000})

# 최소 인구 찾기
min_population = city_states_population.min(skipna=True)

print(f"고대 그리스 도시 국가들 중 최소 인구: {min_population}명")

고대 그리스 도시 국가들 중 최소 인구: 50000명

In [5]:
'''
예제 2: 플라톤 아카데미아 학생들의 최소 학습 시간 ⏳📚
플라톤 아카데미아에 다니는 학생들의 일주일 학습 시간에서 최소 학습 시간을 찾습니다.
'''

import pandas as pd

# 플라톤 아카데미아 학생들의 일주일 학습 시간
academia_study_hours = pd.Series([40, 35, 50, 45, 60, 55, 30, 25])

# 최소 학습 시간 찾기
min_study_hours = academia_study_hours.min(skipna=True)

print(f"플라톤 아카데미아 학생들의 최소 일주일 학습 시간: {min_study_hours}시간")

플라톤 아카데미아 학생들의 최소 일주일 학습 시간: 25시간

## pandas.Series.mode 메서드
시리즈 내에서 가장 자주 등장하는 값을 찾습니다. 이 메서드는 범주형 데이터, 문자열, 수치 데이터 등 다양한 유형의 데이터에 대해 최빈값을 찾을 때 사용할 수 있습니다.

In [7]:
'''
예제 1: 아테네 아고라 시장에서 가장 인기 있는 상품 🏺🍇
아테네의 아고라 시장에서 판매되는 상품 중 가장 인기 있는 상품을 찾습니다.
'''

import pandas as pd

# 아테네 아고라 시장에서 판매되는 상품
agora_market_products = pd.Series(['올리브', '포도', '올리브', '곡물', '올리브', '포도', '와인', '올리브'])

# 가장 인기 있는 상품 찾기
popular_products = agora_market_products.mode(dropna=True)

print(f"아테네 아고라 시장에서 가장 인기 있는 상품: {popular_products.values}")

아테네 아고라 시장에서 가장 인기 있는 상품: ['올리브']

In [6]:
'''
예제 2: 소피스트 학파에서 가장 자주 논의된 주제 📚🗣️
소피스트 학파에서 가장 자주 논의된 주제를 찾습니다.
'''

import pandas as pd

# 소피스트 학파에서 논의된 주제
sophist_topics = pd.Series(['윤리', '진리', '도덕', '윤리', '지식', '윤리', '정의', '도덕', '윤리'])

# 가장 자주 논의된 주제 찾기
frequent_topics = sophist_topics.mode(dropna=True)

print(f"소피스트 학파에서 가장 자주 논의된 주제: {frequent_topics.values}")

소피스트 학파에서 가장 자주 논의된 주제: ['윤리']

## pandas.Series.nlargest 메서드
시리즈에서 가장 큰 n개의 값을 반환합니다. 이 메서드는 큰 값들을 식별할 때 특히 유용하며, 수치형 데이터에 대해 빠르게 상위 n개의 값을 찾고자 할 때 사용됩니다.

In [9]:
'''
예제 1: 올림피아 게임에서의 최고 기록 🏛️🏅
올림피아 게임에서 세워진 다양한 종목의 최고 기록 중 상위 3개를 찾습니다.
'''

import pandas as pd

# 올림피아 게임의 종목별 최고 기록 (단위: 초)
olympia_records = pd.Series([10.32, 9.58, 19.19, 19.32, 43.03, 43.18], 
                            index=['100m', '100m', '200m', '200m', '400m', '400m'])

# 최고 기록 상위 3개 찾기
top_records = olympia_records.nlargest(n=3, keep='all')

print(f"올림피아 게임 최고 기록 상위 3개: \n{top_records}")

올림피아 게임 최고 기록 상위 3개:
400m    43.18
400m    43.03
200m    19.32
dtype: float64

In [10]:
'''
예제 2: 고대 그리스 철학자들의 저작물 수 📚🤔
고대 그리스의 유명한 철학자들이 남긴 저작물 수 중에서 가장 많은 저작물을 남긴 상위 2명의 철학자를 찾습니다.
'''

import pandas as pd

# 고대 그리스 철학자들의 저작물 수
philosopher_works = pd.Series([300, 150, 120, 450, 200], 
                              index=['플라톤', '아리스토텔레스', '소크라테스', '피타고라스', '에우리피데스'])

# 저작물 수 상위 2명의 철학자 찾기
top_philosophers = philosopher_works.nlargest(n=2, keep='all')

print(f"저작물이 가장 많은 고대 그리스 철학자 상위 2명: \n{top_philosophers}")

저작물이 가장 많은 고대 그리스 철학자 상위 2명:
피타고라스    450
플라톤      300
dtype: int64

## pandas.Series.nsmallest 메서드
시리즈에서 가장 작은 n개의 값을 반환합니다.  
이 메서드는 작은 값들을 식별할 때 특히 유용하며, 수치형 데이터에 대해 빠르게 하위 n개의 값을 찾고자 할 때 사용됩니다.

In [11]:
'''
예제 1: 아테네 마라톤의 최소 완주 시간 🏃‍♂️🏆
아테네 마라톤에서 기록된 최소 완주 시간 중 하위 3개를 찾습니다.
'''

import pandas as pd

# 아테네 마라톤의 완주 시간 (단위: 시간)
marathon_times = pd.Series([4.5, 3.8, 4.2, 3.9, 5.0, 4.3, 3.7, 4.1])

# 최소 완주 시간 하위 3개 찾기
fastest_times = marathon_times.nsmallest(n=3, keep='all')

print(f"아테네 마라톤 최소 완주 시간 하위 3개: \n{fastest_times}")

아테네 마라톤 최소 완주 시간 하위 3개:
6    3.7
1    3.8
3    3.9
dtype: float64

In [12]:
'''
예제 2: 아테네 학교의 최소 학급 규모 🏫👩‍🏫
아테네의 학교에서 각 학급의 학생 수 중에서 가장 작은 학급 규모 하위 2개를 찾습니다.
'''

import pandas as pd

# 아테네 학교의 학급별 학생 수
class_sizes = pd.Series([25, 30, 15, 20, 22, 18, 28, 27])

# 최소 학급 규모 하위 2개 찾기
smallest_classes = class_sizes.nsmallest(n=2, keep='all')

print(f"아테네 학교 최소 학급 규모 하위 2개: \n{smallest_classes}")

아테네 학교 최소 학급 규모 하위 2개:
2    15
5    18
dtype: int64

## pandas.Series.pct_change 메서드
시리즈 내의 각 요소에 대해 이전 요소 대비 백분율 변화를 계산합니다.   
이 메서드는 주로 금융 데이터 분석에서 주가의 백분율 변화를 계산하는 데 사용됩니다.

In [41]:
'''
예제 1: 나일 강의 연간 범람 높이 변화율 🌊
나일 강의 연간 범람 높이 변화율을 계산하여, 농작물 재배에 미치는 영향을 분석합니다.
'''

import pandas as pd

# 나일 강의 연간 범람 높이 (단위: 미터)
nile_flood_heights = pd.Series([8.6, 8.9, 9.0, 8.7, 9.2, 9.5, 9.3])

# 연간 범람 높이 변화율 계산
flood_height_changes = nile_flood_heights.pct_change(periods=1)

print(f"나일 강의 연간 범람 높이 변화율: \n{flood_height_changes}")

나일 강의 연간 범람 높이 변화율:
0         NaN
1    0.034884
2    0.011236
3   -0.033333
4    0.057471
5    0.032609
6   -0.021053
dtype: float64

In [40]:
'''
예제 2: 고대 이집트 건축물의 연간 건설 속도 변화율 🏗️📈
고대 이집트에서 건설된 주요 건축물의 연간 건설 속도 변화율을 계산합니다.
'''

import pandas as pd

# 고대 이집트 건축물의 연간 건설 속도 (단위: 미터/년)
construction_speeds = pd.Series([20, 25, 22, 30, 28, 32, 31])

# 연간 건설 속도 변화율 계산
speed_changes = construction_speeds.pct_change(periods=1, fill_method='pad')

print(f"고대 이집트 건축물의 연간 건설 속도 변화율: \n{speed_changes}")

고대 이집트 건축물의 연간 건설 속도 변화율:
0         NaN
1    0.250000
2   -0.120000
3    0.363636
4   -0.066667
5    0.142857
6   -0.031250
dtype: float64

## pandas.Series.prod 메서드
시리즈 내의 모든 요소의 곱을 계산합니다.   
이 메서드는 수치 데이터에 대한 곱셈 집계를 수행할 때 사용됩니다.

In [39]:
'''
예제 1: 이집트 피라미드 건설에 사용된 돌 블록의 총 곱 🏺🔨
이집트 피라미드 건설에 사용된 각 돌 블록의 수를 나타내는 시리즈에서 모든 돌 블록의 총 곱을 계산합니다.
'''

import pandas as pd

# 이집트 피라미드 건설에 사용된 돌 블록 수
pyramid_blocks = pd.Series([10000, 15000, 20000, 25000, 30000])

# 돌 블록의 총 곱 계산
total_blocks_prod = pyramid_blocks.prod(skipna=True)

print(f"이집트 피라미드 건설에 사용된 돌 블록의 총 곱: {total_blocks_prod}")

이집트 피라미드 건설에 사용된 돌 블록의 총 곱: -502776992565297152

In [38]:
'''
예제 2: 고대 이집트 상인들의 거래량 총 곱 📈🛒
고대 이집트 시장에서 상인들이 거래한 상품의 수량을 나타내는 시리즈에서 거래량의 총 곱을 계산합니다.
'''

import pandas as pd

# 고대 이집트 상인들의 거래량
merchant_volumes = pd.Series([5, 7, 3, 8, 6, 4, 5])

# 거래량의 총 곱 계산
total_volume_prod = merchant_volumes.prod(skipna=True, min_count=1)

print(f"고대 이집트 상인들의 거래량 총 곱: {total_volume_prod}")

고대 이집트 상인들의 거래량 총 곱: 100800

## pandas.Series.quantile 메서드
시리즈 데이터의 분위수를 계산합니다. 분위수는 전체 데이터를 동등한 부분으로 나누는 값으로, 중앙값(2분위수), 사분위수 등을 포함합니다.

In [37]:
'''
예제 1: 나일 강의 연간 홍수 높이의 중앙값과 사분위수 🌊
나일 강의 연간 홍수 높이 데이터에서 중앙값과 하위 및 상위 사분위수를 계산합니다.
'''

import pandas as pd

# 나일 강의 연간 홍수 높이 (단위: 미터)
nile_flood_heights = pd.Series([8.6, 8.9, 9.0, 8.7, 9.2, 9.5, 9.3])

# 중앙값과 사분위수 계산
quantiles = nile_flood_heights.quantile(q=[0.25, 0.5, 0.75], interpolation='midpoint')

print(f"나일 강 홍수 높이의 사분위수: \n{quantiles}")

나일 강 홍수 높이의 사분위수:
0.25    8.80
0.50    9.00
0.75    9.25
dtype: float64

In [36]:
'''
예제 2: 고대 이집트 건축 프로젝트의 건설 기간 분위수 🏗️⏳
고대 이집트에서 진행된 주요 건축 프로젝트의 건설 기간 데이터에서 하위 10% 분위수와 상위 10% 분위수를 계산합니다.
'''

import pandas as pd

# 고대 이집트 건축 프로젝트의 건설 기간 (단위: 년)
construction_periods = pd.Series([20, 10, 15, 30, 25, 12, 22])

# 하위 10%와 상위 10% 분위수 계산
quantiles = construction_periods.quantile(q=[0.1, 0.9], interpolation='nearest')

print(f"고대 이집트 건축 프로젝트 건설 기간의 분위수: \n{quantiles}")

고대 이집트 건축 프로젝트 건설 기간의 분위수:
0.1    12
0.9    25
dtype: int64

## pandas.Series.rank 메서드
시리즈 내의 각 요소에 순위를 할당합니다. 데이터 내의 각 값에 대해 순위를 매기며, 같은 값에 대해서는 평균 순위를 할당할 수 있습니다.

In [35]:
'''
예제 1: 나일 강 홍수의 연간 높이 순위 🌊
나일 강의 연간 홍수 높이에 대해 순위를 매깁니다. 동일한 홍수 높이에 대해서는 평균 순위를 할당합니다.
'''

import pandas as pd

# 나일 강의 연간 홍수 높이 (단위: 미터)
nile_flood_heights = pd.Series([8.6, 8.9, 9.0, 8.7, 9.2, 9.0, 9.3])

# 홍수 높이에 대한 순위 매기기
flood_height_ranks = nile_flood_heights.rank(method='average', ascending=True)

print(f"나일 강 홍수 높이의 순위: \n{flood_height_ranks}")

나일 강 홍수 높이의 순위:
0    1.0
1    3.0
2    4.5
3    2.0
4    6.0
5    4.5
6    7.0
dtype: float64

In [34]:
'''
예제 2: 고대 이집트 건축물의 위엄 순위 🏛️
고대 이집트의 주요 건축물에 대한 위엄을 평가하고, 각 건축물에 순위를 매깁니다. 동일한 위엄 점수를 가진 건축물은 먼저 나온 것이 더 높은 순위를 받습니다.
'''

import pandas as pd

# 고대 이집트 건축물의 위엄 점수
monument_grandeur = pd.Series([95, 80, 95, 90, 85, 100], 
                              index=['피라미드', '스핑크스', '카르나크', '룩소르', '아부심벨', '테베'])

# 위엄 순위 매기기
grandeur_ranks = monument_grandeur.rank(method='first', ascending=False)

print(f"고대 이집트 건축물의 위엄 순위: \n{grandeur_ranks}")

고대 이집트 건축물의 위엄 순위:
피라미드    2.0
스핑크스    6.0
카르나크    3.0
룩소르     4.0
아부심벨    5.0
테베      1.0
dtype: float64

## pandas.Series.sem 메서드
시리즈의 표준 오차를 계산합니다. 표준 오차는 샘플 데이터의 분산을 측정하는 것으로, 표본의 크기가 클수록 표준 오차는 작아집니다.

In [ ]:
'''
예제 1: 고대 이집트 학자들의 실험 데이터 표준 오차 계산 🧪📊
고대 이집트 학자들이 수행한 실험에서 얻은 데이터의 표준 오차를 계산합니다.
'''

import pandas as pd

# 고대 이집트 학자들의 실험 데이터
experimental_data = pd.Series([3.2, 3.5, 3.8, 3.3, 3.6])

# 실험 데이터의 표준 오차 계산
standard_error = experimental_data.sem(ddof=1)

print(f"고대 이집트 학자들의 실험 데이터의 표준 오차: {standard_error}")

In [33]:
'''
예제 2: 이집트 농부들의 곡물 수확량 표준 오차 계산 🌾📉
고대 이집트 농부들이 수확한 곡물의 양에 대한 데이터의 표준 오차를 계산합니다.
'''

import pandas as pd

# 이집트 농부들의 곡물 수확량 데이터
harvest_data = pd.Series([120, 125, 130, 135, 140])

# 곡물 수확량 데이터의 표준 오차 계산
standard_error = harvest_data.sem(ddof=1)

print(f"이집트 농부들의 곡물 수확량 데이터의 표준 오차: {standard_error}")

이집트 농부들의 곡물 수확량 데이터의 표준 오차: 3.5355339059327373

## pandas.Series.skew 함수

주어진 Series의 비대칭도(skewness)를 계산합니다. 비대칭도는 데이터 분포의 비대칭 정도를 나타내며, 양수인 경우 오른쪽으로 치우친 분포를, 음수인 경우 왼쪽으로 치우친 분포를 나타냅니다. 이 함수의 파라미터와 리턴값은 다음과 같습니다:   
   
```파라미터```:   
- axis: 연산을 수행할 축을 지정합니다. 기본값은 0으로, 열을 따라 계산합니다.
   
```리턴값```:   
- skew: 주어진 Series의 비대칭도를 나타내는 부동소수점 수치입니다.

In [32]:
# 코드 예제 1 🐫:

import pandas as pd

# 이집트 시대 수학과 철학을 기반으로 한 코드 예제
# 시대의 숫자 체계를 반영하여 데이터 생성
data = pd.Series([3, 5, 7, 10, 15, 20])

# 주어진 Series의 비대칭도 계산
skewness = data.skew(axis=0)

print("데이터의 비대칭도:", skewness)

데이터의 비대칭도: 0.7044039915072235

In [31]:
# 코드 예제 2 🌟:

import pandas as pd

# 이집트 시대 수학과 철학을 기반으로 한 코드 예제
# 시대의 숫자 체계를 반영하여 데이터 생성
data = pd.Series([6, 9, 12, 18, 24, 36])

# 주어진 Series의 비대칭도 계산
skewness = data.skew(axis=0)

print("데이터의 비대칭도:", skewness)

데이터의 비대칭도: 0.9364561603531326

## pandas.Series.std 함수
주어진 Series의 표준편차(standard deviation)를 계산합니다. ```표준편차```는 데이터가 평균에서 얼마나 퍼져있는지를 나타내는 측정 지표로, 값이 작을수록 데이터가 평균 주변에 집중되어 있음을 의미합니다. 이 함수의 파라미터와 리턴값은 다음과 같습니다:    
   
```파라미터```:
- axis: 연산을 수행할 축을 지정합니다. 기본값은 0으로, 열을 따라 계산합니다. 
- skipna: NA/null 값을 제외할지 여부를 나타내는 부울 값입니다. 기본값은 True로, NA/null 값을 제외합니다.

```리턴값```:
- std: 주어진 Series의 표준편차를 나타내는 부동소수점 수치입니다.

In [30]:
# 코드 예제 1 🌾:

import pandas as pd

# 이집트 시대 수학과 철학을 기반으로 한 코드 예제
# 시대의 숫자 체계를 반영하여 데이터 생성
data = pd.Series([4, 8, 12, 16, 20])

# 주어진 Series의 표준편차 계산
std_deviation = data.std(axis=0, skipna=True)

print("데이터의 표준편차:", std_deviation)

데이터의 표준편차: 6.324555320336759

In [29]:
# 코드 예제 2 🏺:

import pandas as pd

# 이집트 시대 수학과 철학을 기반으로 한 코드 예제
# 시대의 숫자 체계를 반영하여 데이터 생성
data = pd.Series([3, 6, 9, 12, 15])

# 주어진 Series의 표준편차 계산
std_deviation = data.std(axis=0, skipna=True)

print("데이터의 표준편차:", std_deviation)

데이터의 표준편차: 4.743416490252569

## pandas.Series.sum 함수
주어진 Series의 합을 계산합니다. 이 함수의 파라미터와 리턴값은 다음과 같습니다:   
   
```파라미터```:   
- axis: 연산을 수행할 축을 지정합니다. 기본값은 0으로, 열을 따라 계산합니다.
- skipna: NA/null 값을 제외할지 여부를 나타내는 부울 값입니다. 기본값은 True로, NA/null 값을 제외합니다.

```리턴값```:   
- sum: 주어진 Series의 합을 나타내는 부동소수점 수치입니다.

In [27]:
# 코드 예제 1 🏺:

import pandas as pd

# 이집트 시대 수학과 철학을 기반으로 한 코드 예제
# 시대의 숫자 체계를 반영하여 데이터 생성
data = pd.Series([1, 2, 3, 4, 5])

# 주어진 Series의 합 계산
total_sum = data.sum(axis=0, skipna=True)

print("데이터의 합:", total_sum)

데이터의 합: 15

In [28]:
# 코드 예제 2 🌾:

import pandas as pd

# 이집트 시대 수학과 철학을 기반으로 한 코드 예제
# 시대의 숫자 체계를 반영하여 데이터 생성
data = pd.Series([10, 20, 30, 40, 50])

# 주어진 Series의 합 계산
total_sum = data.sum(axis=0, skipna=True)

print("데이터의 합:", total_sum)

데이터의 합: 150

## pandas.Series.var 함수
주어진 Series의 분산(variance)을 계산합니다. 분산은 데이터가 평균으로부터 얼마나 퍼져 있는지를 나타내는 지표로, 값이 작을수록 데이터가 평균 주변에 집중되어 있음을 의미합니다. 이 함수의 파라미터와 리턴값은 다음과 같습니다:   
   
```파라미터```:   
- axis: 연산을 수행할 축을 지정합니다. 기본값은 0으로, 열을 따라 계산합니다. 
- skipna: NA/null 값을 제외할지 여부를 나타내는 부울 값입니다. 기본값은 True로, NA/null 값을 제외합니다.

```리턴값```:
- variance: 주어진 Series의 분산을 나타내는 부동소수점 수치입니다.

In [25]:
# 코드 예제 1 🏺:

import pandas as pd

# 이집트 시대 수학과 철학을 기반으로 한 코드 예제
# 시대의 숫자 체계를 반영하여 데이터 생성
data = pd.Series([3, 6, 9, 12, 15])

# 주어진 Series의 분산 계산
variance = data.var(axis=0, skipna=True)

print("데이터의 분산:", variance)

데이터의 분산: 22.5

In [26]:
# 코드 예제 2 🌾:
    
import pandas as pd

# 이집트 시대 수학과 철학을 기반으로 한 코드 예제
# 시대의 숫자 체계를 반영하여 데이터 생성
data = pd.Series([4, 8, 12, 16, 20])

# 주어진 Series의 분산 계산
variance = data.var(axis=0, skipna=True)

print("데이터의 분산:", variance)

데이터의 분산: 40.0

## pandas.Series.kurtosis 함수는
주어진 Series의 첨도(kurtosis)를 계산합니다.   
첨도는 데이터 분포의 뾰족한 정도를 나타내며, 정규 분포와 비교했을 때 얼마나 중심에 모여 있는지를 나타냅니다. 이 함수의 파라미터와 리턴값은 다음과 같습니다:

```파라미터```:   
- axis: 연산을 수행할 축을 지정합니다. 기본값은 0으로, 열을 따라 계산합니다.   
   
- skipna: NA/null 값을 제외할지 여부를 나타내는 부울 값입니다. 기본값은 True로, NA/null 값을 제외합니다.   
   
```리턴값```:   
- kurtosis: 주어진 Series의 첨도를 나타내는 부동소수점 수치입니다.

In [23]:
# 코드 예제 1 🏰:

import pandas as pd

# 중세 과학과 수학을 기반으로 한 코드 예제
# 특정 시대의 측정 체계를 반영하여 데이터 생성
data = pd.Series([1, 2, 3, 4, 5])

# 주어진 Series의 첨도 계산
kurtosis_value = data.kurtosis(axis=0, skipna=True)

print("데이터의 첨도:", kurtosis_value)

데이터의 첨도: -1.2000000000000002

In [24]:
# 코드 예제 2 📜:
    
import pandas as pd

# 중세 과학과 수학을 기반으로 한 코드 예제
# 특정 시대의 측정 체계를 반영하여 데이터 생성
data = pd.Series([2, 4, 6, 8, 10])

# 주어진 Series의 첨도 계산
kurtosis_value = data.kurtosis(axis=0, skipna=True)

print("데이터의 첨도:", kurtosis_value)

데이터의 첨도: -1.2000000000000002

## pandas.Series.unique 함수
주어진 Series에서 고유한(unique) 값을 찾아 반환합니다.   
이 함수의 파라미터와 리턴값은 다음과 같습니다:

```파라미터```:   
return_counts: 고유한 값의 등장 횟수도 함께 반환할지 여부를 결정하는 매개변수입니다.   
기본값은 False이며, True로 설정하면 각 고유한 값의 등장 횟수를 반환합니다.

```리턴값```:   
unique_values: Series에서 발견된 고유한 값들을 포함하는 배열(Array) 또는 Index입니다.   
counts (옵션): return_counts 매개변수가 True로 설정된 경우, 각 고유한 값의 등장 횟수를 포함하는 배열(Array)이 리턴됩니다.

In [20]:
# 코드 예제 1 ⚡:
    
import pandas as pd

# 그리스 신화 제우스를 기반으로 한 코드 예제
# 제우스의 자손 이름을 포함하는 Series 생성
names = pd.Series(['제우스', '헤라', '아테나', '헤패이스트스', '아폴론', '아르테미스'])

# 고유한 값 찾기
unique_names = names.unique()

print("고유한 이름들:", unique_names)

고유한 이름들: ['제우스' '헤라' '아테나' '헤패이스트스' '아폴론' '아르테미스']

In [22]:
# 코드 예제 2 🌩️:

import pandas as pd

# 그리스 신화 제우스를 기반으로 한 코드 예제
# 제우스의 자손 이름과 등장 횟수를 포함하는 Series 생성
names = pd.Series(['제우스', '헤라', '아테나', '헤패이스트스', '아폴론', '아르테미스', '헤라', '아폴론'])

# 고유한 값과 등장 횟수 찾기
unique_names, counts = names.unique(return_counts=True)

print("고유한 이름들:", unique_names)
print("이름별 등장 횟수:", counts)

TypeError: Series.unique() got an unexpected keyword argument 'return_counts'

## pandas.Series.nunique 함수

주어진 Series에서 고유한(unique) 값을 찾아 그 개수를 반환합니다.   
이 함수의 파라미터와 리턴값은 다음과 같습니다:
   
```파라미터```:   
dropna: NA/null 값을 제외할지 여부를 결정하는 매개변수입니다. 기본값은 True이며, True로 설정하면 NA/null 값을 제외합니다.

```리턴값```:   
unique_count: Series에서 발견된 고유한 값들의 개수를 나타내는 정수 값입니다.

In [16]:
# 코드 예제 1 ⚡:

import pandas as pd

# 그리스 신화 제우스를 기반으로 한 코드 예제
# 제우스의 자손 이름을 포함하는 Series 생성
names = pd.Series(['제우스', '헤라', '아테나', '헤패이스트스', '아폴론', '아르테미스'])

# 고유한 값 개수 찾기
unique_count = names.nunique()

print("고유한 값 개수:", unique_count)

고유한 값 개수: 6

In [17]:
# 코드 예제 2 🌩️:

import pandas as pd

# 그리스 신화 제우스를 기반으로 한 코드 예제
# 제우스의 자손 이름과 중복 포함된 이름을 포함하는 Series 생성
names = pd.Series(['제우스', '헤라', '아테나', '헤패이스트스', '아폴론', '아르테미스', '헤라', '아폴론'])

# 중복을 포함한 고유한 값 개수 찾기
unique_count = names.nunique(dropna=False)

print("고유한 값 개수(중복 포함):", unique_count)

고유한 값 개수(중복 포함): 6

## pandas.Series.is_unique 함수

주어진 Series의 모든 값이 고유한(unique)한지 여부를 판별합니다.   
이 함수의 파라미터와 리턴값은 다음과 같습니다:  
    
```파라미터```:
이 함수에는 파라미터가 없습니다.   
   
```리턴값```:
is_unique: Series의 모든 값이 고유한 경우 True를 반환하고, 중복된 값이 하나라도 있는 경우 False를 반환합니다.

In [14]:
# 코드 예제 1 ⚡:

import pandas as pd

# 그리스 신화 제우스를 기반으로 한 코드 예제
# 제우스의 자손 이름을 포함하는 Series 생성
names = pd.Series(['제우스', '헤라', '아테나', '헤패이스트스', '아폴론', '아르테미스'])

# Series의 값이 고유한지 확인
is_unique = names.is_unique

if is_unique:
    print("모든 값이 고유합니다.")
else:
    print("중복된 값이 있습니다.")

모든 값이 고유합니다.

In [13]:
# 코드 예제 2 🌩️:

import pandas as pd

# 그리스 신화 제우스를 기반으로 한 코드 예제
# 제우스의 자손 이름과 중복 포함된 이름을 포함하는 Series 생성
names = pd.Series(['제우스', '헤라', '아테나', '헤패이스트스', '아폴론', '아르테미스', '헤라', '아폴론'])

# Series의 값이 고유한지 확인
is_unique = names.is_unique

if is_unique:
    print("모든 값이 고유합니다.")
else:
    print("중복된 값이 있습니다.")

중복된 값이 있습니다.